<table class="table-data">
    <tr>
        <th class="text_center text_bold border_bottom border_top border_left" style="height:2.5em;width:10%">Case Number</th>
        <th class="text_center text_bold border_bottom border_top" style="width:10%">Item No.</th>
        <th class="text_center text_bold border_bottom border_top" style="width:10%">Name</th>
        <th class="text_center text_bold border_bottom border_top" style="width:10%">Part Number</th>
        <th class="text_center text_bold border_bottom border_top" style="width:10%">ASN Number</th>
        <th class="text_center text_bold border_bottom border_top" style="width:5%">J-Code</th>
        <th class="text_center text_bold border_bottom border_top" style="width:5%">Coo</th>
        <th class="text_center text_bold border_bottom border_top" style="width:5%">Qty</th>
        <th class="text_center text_bold border_bottom border_top" style="width:10%">Unit Price</th>
        <th class="text_center text_bold border_bottom border_top border_right" style="width:10%">Extended Value</th>
    </tr>

    @{
        int No = 1;
    }
    @foreach (var item in Model.TemplateDetail)
    {
        <tr>
            <td class="tabledata_spacing border_left text_left">@((item.CaseNumber == "0.00") ? "" : item.CaseNumber)</td>
            <td class="tabledata_spacing text_center">@No</td>
            <td class="tabledata_spacing text_left">@item.Name</td>
            <td class="tabledata_spacing text_left">@item.PartNumber</td>
            <td class="tabledata_spacing text_center">@item.ASNNumber</td>
            <td class="tabledata_spacing text_center">@item.JCode</td>
            <td class="tabledata_spacing text_center">@(!string.IsNullOrEmpty(item.CoO) ? item.CoO : "-")</td>
            <td class="tabledata_spacing text_center">@item.Quantity</td>
            <td class="tabledata_spacing text_right">@item.UnitPrice</td>
            <td class="tabledata_spacing border_right text_right">@item.ExtendedValue</td>
        </tr>
        No++;
    }
    @{
        if (Model.TemplateDetail.Count <= 2)
        {
            int dummy = 5;
            for (int no = 1; no <= dummy; no++)
            {
                <tr><td colspan="10" class="border_left border_right" style="border-top:1px solid white;">&nbsp;</td></tr>
                if (no == 5)
                {
                    <tr><td colspan="10" class="border_top">&nbsp;</td></tr>
                }
            }
        }
    }
</table>