@model  App.Web.Models.EMCS.CiplModel
@{
    ViewBag.Title = "Download Packing List";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Document Download Packing List</title>
    <style>
        html body {
            font-family: sans-serif;
            font-size: 10px;
            letter-spacing: 0.65ex;
            font-weight: 100 !important;
            line-height: 18px;
            text-rendering: optimizeSpeed;
        }

        table tr td, th {
            font-family: sans-serif;
            font-size: 10px;
            letter-spacing: 0.65ex;
            line-height: 18px;
            text-rendering: optimizeSpeed;
        }

        .hidden {
            display: none;
        }

        /* TABLE */
        .table thead tr {
            -webkit-box-shadow: 0 6px 4px -3px #dedede;
            -webkit-box-shadow: 0 6px 4px -3px rgba(222,222,222,0.72);
            -moz-box-shadow: 0 6px 4px -3px #dedede;
            -moz-box-shadow: 0 6px 4px -3px rgba(222,222,222,0.72);
            box-shadow: 0 6px 4px -3px #dedede;
            box-shadow: 0 6px 4px -3px rgba(222,222,222,0.72);
        }

            .table thead tr th {
                background-color: black;
                font-weight: 600;
                line-height: 1;
                color: white;
            }

        .table tbody tr td {
            line-height: 1;
        }

        .table-document {
            border: none;
            border-collapse: collapse;
            width: 100%;
        }

            .table-document tr td {
                background: white;
            }

            .table-document tr td {
                line-height: 20px;
            }

        .table-custom {
            border: 1px solid darkgrey !important;
            width: 100%;
            border-collapse: collapse;
        }

        .table-data {
            border: 1px solid darkgrey !important;
            width: 100%;
            border-collapse: collapse !important;
        }

        .border_top {
            border-top: 1px solid darkgrey !important;
        }

        .border_bottom {
            border-bottom: 1px solid darkgrey !important;
        }

        .border_left {
            padding-left: 10px !important;
            border-left: 1px solid darkgrey !important;
        }

        .border_right {
            padding-right: 10px !important;
            border-right: 1px solid darkgrey !important;
        }

        .text_left {
            text-align: left !important;
        }

        .text_right {
            text-align: right !important;
        }

        .text_center {
            text-align: center !important;
        }

        .text_arial {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .text_bold {
            font-weight: 800;
        }

        .tabledata_spacing {
            padding-left: 10px;
            padding-right: 10px;
        }

        .text_docno {
            color: darkorange;
        }

        .text_gold {
            color: gold;
        }

        .text_docno_big {
            font-size: 15px;
            color: darkorange;
        }

        .text_20 {
            font-size: 20px !important;
        }

        .text_18 {
            font-size: 18px !important;
        }

        .text_16 {
            font-size: 16px !important;
        }

        .text_14 {
            font-size: 14px !important;
        }

        .text_12 {
            font-size: 12px !important;
        }

        .text_9 {
            font-size: 9px !important;
        }

        .text_8 {
            font-size: 8px !important;
        }

        .text_justify {
            text-align: justify;
        }

        .text_italic {
            font-style: italic;
        }

        .table-title-data {
            color: red;
        }

        .width_50_persen {
            width: 50%
        }

        .padding_left_10 {
            padding-left: 10px !important;
        }

        .padding_right_10 {
            padding-right: 10px !important;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid;
        }

        .align_top {
            vertical-align: top;
        }

        .table-title-data div {
            border-right: 1px solid #b9b4b4;
            border-bottom: 1px solid #b9b4b4;
            width: 200px;
            padding-left: 14px;
            margin-left: -10px;
            font-weight: 700;
            color: red;
            margin-top: 0;
            line-height: 35px;
            color: black;
            z-index: 99999;
        }

        .v_top {
            vertical-align: top;
        }

        .v_center {
            vertical-align: middle;
        }

        .v_bottom {
            vertical-align: bottom;
        }

        .border_title_left {
            border-left: 1px solid #c6c2c2;
        }

        .border_title {
            padding-left: 10px;
            border-bottom: 1px solid #c6c2c2;
            border-right: 1px solid #c6c2c2;
            width: 250px;
        }


        label.custom {
            margin-bottom: 0 !important;
            vertical-align: top;
            display: inline-block;
            font-weight: 100;
        }

        label.st {
            width: 100px;
        }

        label.nd {
            width: 5px;
        }

        label.th {
            width: 250px;
        }

        label.custom.total.st.inv {
            font-weight: 900;
            width: 165px;
        }

        label.custom.total.st.inv {
            font-weight: 900;
        }

        label.custom.total.nd.inv {
            font-weight: 900;
        }

        label.custom.total.th.inv {
            width: 170px;
            text-align: right;
        }

        label.custom.total-1.th.inv {
            width: 140px;
            text-align: left;
        }

        label.custom.total-2.th.inv {
            width: 130px;
            text-align: right;
        }
    </style>
</head>
<body onload="subst()">
    <div style="width:950px !important;padding:10px 10px 10px 10px;margin:20px auto">
        <div class="row" style="padding-left:4px;padding-right:4px">
            <div style="padding:10px">
                <table class="table-data">
                    <tr>
                        <td class="text_bold" colspan="4" style="width:45%;">
                            <div class="border_title">@Model.Data.SoldConsignee</div>
                        </td>
                        <td class="" style="width:10%;">&nbsp;</td>
                        <td class="text_bold border_right" colspan="4" style="width:45%;">
                            @if (Model.TemplateHeader.ShipDelivery == "Bill To")
                            {
                                <div class="border_title border_title_left">BILL TO</div>
                            }
                            else
                            {
                                <div class="border_title border_title_left">
                                    @((Model.TemplateHeader.ShipDelivery == "Notify") ? "NOTIFY PARTY" : (Model.TemplateHeader.ShipDelivery == "Ship To / Delivery To") ? "SHIP TO / DELIVERY TO" : "SOLD TO")
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid white;" class="border_left text_bold">@Model.TemplateHeader.ConsigneeName</td>
                        <td></td>
                        <td colspan="4" style="border-top:1px solid white;" class="border_right text_bold">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToName : Model.TemplateHeader.NotifyName)</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="border_left v_top">@Model.TemplateHeader.ConsigneeAddress @((Model.Data.ConsigneeCountry == "") ? ", " + Model.Data.ConsigneeCountry : "")</td>
                        <td></td>
                        <td colspan="4" class="border_right v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToAddress : Model.TemplateHeader.NotifyAddress) @((Model.Data.NotifyName == "-") ? ", " + Model.Data.SoldToCountry : ", " + Model.Data.NotifyCountry)</td>
                    </tr>
                    <tr>
                        <td class="border_left v_top" colspan="4">
                            <label class="custom st">Telephone</label>
                            <label class="custom nd">:</label>
                            <label class="custom th">@Model.TemplateHeader.ConsigneeTelephone</label>
                        </td>
                        <td></td>
                        <td class="v_top border_right" colspan="4">
                            <div>
                                <label class="custom st">Telephone</label>
                                <label class="custom nd">:</label>
                                <label class="custom th">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToTelephone : Model.TemplateHeader.NotifyTelephone)</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="border_left v_top" colspan="4">
                            <label class="custom st">Fax</label>
                            <label class="custom nd">:</label>
                            <label class="custom th">@Model.TemplateHeader.ConsigneeFax</label>
                        </td>
                        <td></td>
                        <td class="v_top border_right" colspan="4">
                            <label class="custom st">Fax</label>
                            <label class="custom nd">:</label>
                            <label class="custom th">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToFax : Model.TemplateHeader.NotifyFax)</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="border_left v_top" colspan="4">
                            <label class="custom st">Contact / Attn</label>
                            <label class="custom nd">:</label>
                            <label class="custom th">@Model.TemplateHeader.ConsigneePic</label>
                        </td>
                        <td></td>
                        <td class="v_top border_right" colspan="4">
                            <div>
                                <label class="custom st">Contact / Attn</label>
                                <label class="custom nd">:</label>
                                <label class="custom th">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToPic : Model.TemplateHeader.NotifyPic)</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="v_top border_left" colspan="4" style="word-wrap: break-word">
                            <label class="custom st">Email Address</label>
                            <label class="custom nd">:</label>
                            <label class="custom th">@Model.TemplateHeader.ConsigneeEmail</label>
                        </td>
                        <td></td>
                        <td class="v_top border_right" colspan="4" style="word-wrap: break-word">
                            <label class="custom st">Email Address</label>
                            <label class="custom nd">:</label>
                            <label class="custom th">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToEmail : Model.TemplateHeader.NotifyEmail)</label>
                        </td>
                    </tr>
                    <tr><td class="border_right" colspan="9">&nbsp;</td></tr>
                </table>

                <table class="table-custom">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="border_left text_bold">Currency:</td>
                        <td class="text_bold">Shipment Terms:</td>
                        <td class="text_bold">Shipment method:</td>
                        <td class="text_bold">CoO:</td>
                        <td class="text_bold">Vessel/Carrier:</td>
                        <td class="text_bold">Sailing on or about:</td>
                        <td class="text_bold">Load Port:</td>
                        <td class="border_right text_bold">Destination Port:</td>
                    </tr>
                    <tr>
                        <td class="border_left">@Model.TemplateHeader.CurrencyDesc</td>
                        <td>@Model.TemplateHeader.ShipmentTerm</td>
                        <td>@Model.TemplateHeader.ShippingMethod</td>
                        <td>@Model.TemplateHeader.CoDesc</td>
                        <td>@Model.TemplateHeader.VesselCarier</td>
                        <td>@Model.TemplateHeader.SailingOn</td>
                        <td style="width:120px;">@Model.TemplateHeader.LoadingPort</td>
                        <td style="width:120px;" class="border_right">@Model.TemplateHeader.DestinationPort</td>
                    </tr>
                    <tr><td colspan="8" style="height:10px" class="border_left border_right"></td></tr>
                    <tr>
                        <td colspan="3" class="border_left text_bold">Payment Terms :</td>
                        <td colspan="3" class="text_bold">Final Destination :</td>
                        <td colspan="2" class="border_right text_bold">LC No & date :</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="border_left">@Model.TemplateHeader.PaymentTerms</td>
                        <td colspan="3">@Model.TemplateHeader.FinalDestination</td>
                        <td colspan="2" class="border_right">@Model.TemplateHeader.LcNoDate</td>
                    </tr>
                </table>

                <div class="">&nbsp;</div>

                <table class="table-custom" style="width:200px;">
                    <thead>
                        <tr>
                            <td class="border_left" style="width:200px;line-height:20px;border-left:1px solid black;">
                                <div style="font-weight:600;">
                                    <strong>Description of Goods :</strong>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>

                @if (Model.Data.Category == "CATERPILLAR NEW EQUIPMENT")
                {
                    @Html.Partial("DownloadPl_pp", Model);
                }
                else if (Model.Data.Category == "CATERPILLAR USED EQUIPMENT")
                {
                    @Html.Partial("DownloadPl_rue", Model);
                }
                else if (Model.Data.Category == "MISCELLANEOUS")
                {
                    @Html.Partial("DownloadPl_misc", Model);
                }
                else if (Model.Data.Category == "CATERPILLAR SPAREPARTS")
                {
                    if (Model.Data.CategoriItem == "Old Core")
                    {
                        @Html.Partial("DownloadPl_oldcore", Model);
                    }
                    else if (Model.Data.CategoriItem == "SIB")
                    {
                        @Html.Partial("DownloadPl_sib", Model);
                    }
                    else
                    {
                        @Html.Partial("DownloadPl_pra", Model);
                    }
                }
                <div>&nbsp;</div>
                <table class="table-custom">
                    <tbody>
                        <tr>
                            <td class="border_top text_bold" style="width:20%;padding-left:10px;">TOTAL QUANTITY</td>
                            <td class="border_top text_bold" style="width:3%;">:</td>
                            <td class="border_top text_right" style="width:15%;">@Model.TemplateHeader.TotalQuantity</td>
                            <td class="border_top" style="width:9%;">&nbsp;</td>
                            <td class="border_top text_bold" style="width:20%;">TOTAL VOLUME (M3)</td>
                            <td class="border_top text_bold" style="width:3%;">:</td>
                            <td class="border_right border_top text_right" style="width:20%;">@Model.TemplateHeader.TotalVolume</td>
                        </tr>
                        <tr>
                            <td class="text_bold" style="padding-left:10px;">TOTAL COLLY</td>
                            <td class="text_bold">:</td>
                            <td class="text_right">@Model.TemplateHeader.TotalCaseNumber</td>
                            <td></td>
                            <td class="text_bold">TOTAL NET WEIGHT (Kgs)</td>
                            <td class="text_bold">:</td>
                            <td class="border_right text_right">@Model.TemplateHeader.TotalNetWeight</td>
                        </tr>
                        <tr>
                            <td class="text_bold">&nbsp;</td>
                            <td class="text_bold">&nbsp;</td>
                            <td class="text_bold">&nbsp;</td>
                            <td class="text_bold">&nbsp;</td>
                            <td class="text_bold">TOTAL GROSS WEIGHT (Kgs)</td>
                            <td class="text_bold">:</td>
                            <td class="border_right text_right">@Model.TemplateHeader.TotalGrossWeight</td>
                        </tr>
                    </tbody>
                </table>
                <div>&nbsp;</div>
                <table class="table-document">
                    <tr>
                        <td style="width:50%;height:2px;" colspan="2">&nbsp;</td>
                        <td style="width:50%;" colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="border_left border_top border_bottom border_right text_bold" style="width:33%;height:10px;">Shipping Marks & Nos :</td>
                        <td class="border_top" style="height:10px">&nbsp;</td>
                        <td class="border_top" style="border-bottom:none;">&nbsp;</td>
                        <td class="border_left border_top border_bottom border_right text_bold" style="width:30%;border:1px solid black;">Remarks :</td>
                        <td class="border_top border_right" style="border-bottom:1px solid white;"></td>
                    </tr>
                    <tr>
                        <td class="border_left border_top text_bold" style="width:33%;line-height:2px;"></td>
                        <td class="" style="height:10px">&nbsp;</td>
                        <td class="" style="border-bottom:none;">&nbsp;</td>
                        <td class="" style="width:30%;"></td>
                        <td class="border_right" style="border-bottom:1px solid white;"></td>
                    </tr>
                    <tr>
                        <td class="border_left border_bottom v_top" colspan="2" style="width:45%;">@Model.TemplateHeader.ShippingMarksDesc</td>
                        <td class="border_bottom" style="width:10%;">&nbsp;</td>
                        <td class="border_bottom border_right v_top" colspan="2" style="width:45%;">@Model.TemplateHeader.RemarksDesc</td>
                    </tr>
                </table>
                <div height="10px">&nbsp;</div>
                <table class="table-custom">
                    <tbody>
                        <tr>
                            <td class="border_top text_bold" style="width:20%;padding-left:10px; vertical-align: top">REFERENCE NO</td>
                            <td class="border_top text_bold" style="width:3%; vertical-align: top">:</td>
                            <td class="border_top text_right" style="width:27%;">@Html.Raw(ViewBag.referencesNo)</td>
                            <td class="border_right border_top text_right" style="width:50%;"></td>
                        </tr>
                    </tbody>
                </table>
                <div>&nbsp;</div>
                <table class="table-custom">
                    <tr><td colspan="17" class="border_right" style="height:20px"></td></tr>
                    <tr><td colspan="17" class="padding_left_10 border_right">Approved by,</td></tr>
                    <tr><td colspan="17" class="padding_left_10 border_right">@Model.TemplateHeader.SignedName</td></tr>
                    <tr><td colspan="17" class="padding_left_10 border_right">@Model.TemplateHeader.SignedPosition</td></tr>
                    <tr><td colspan="17" class="border_right border_right" style="height:50px"></td></tr>
                    <tr>
                        <td colspan="2" class="padding_left_10 border_right" style="font-size:9px;"><i>Signature is not necessary due to this document is an electronic document which printed and generated by computer integrated system. Weight & measurement are reference information only and do not reflect the actual as shown above.</i></td>
                    </tr>
                </table>
                <table class="">
                    <tr>
                        <td><img src="@ViewBag.QrCodeUrlPL" height="150px" width="150px" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

