@model  App.Web.Models.EMCS.CiplModel
@{
                /**/

                ViewBag.Title = "Download Export Delivery Instruction";
                Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Document Download Packing List</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <style type="text/css">
        @@page { border : 1px solid darkgrey }
        html body {
            /*font-family: 'Arial Narrow', Arial, sans-serif;*/
            font-family: sans-serif;
            font-size: 11px;
            letter-spacing: 0.67ex;
            font-weight: 100 !important;
            line-height: 18px;
            text-rendering: optimizeSpeed;
        }

        table tr td, th {
            /*font-family: 'Arial Narrow', Arial, sans-serif;*/
            font-family: sans-serif;
            font-size: 11px;
            letter-spacing: 0.67ex;
            line-height: 18px;
            text-rendering: optimizeSpeed;
        }

        .hidden {
            display: none;
        }

        /* TABLE */
        .table thead tr {
            -webkit-box-shadow: 0px 6px 4px -3px rgba(222,222,222,0.72);
            -moz-box-shadow: 0px 6px 4px -3px rgba(222,222,222,0.72);
            box-shadow: 0px 6px 4px -3px rgba(222,222,222,0.72);
        }

            .table thead tr th {
                /*background: -moz-linear-gradient(left, rgba(60,141,188,1) 0%, rgba(60,141,188,0.93) 56%, rgba(61,142,190,0.93) 58%, rgba(86,156,235,0.93) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,141,188,1)), color-stop(56%, rgba(60,141,188,0.93)), color-stop(58%, rgba(61,142,190,0.93)), color-stop(100%, rgba(86,156,235,0.93)));*/
                background-color: black;
                /* background: rgba(60,141,188,1); */
                font-weight: 600;
                line-height: 1;
                color: white;
            }

        .table tbody tr td {
            line-height: 1;
        }

        .table-document {
            border: none;
            border-collapse: collapse;
            width: 100%;
        }

            .table-document tr td {
                background: white;
            }

            .table-document tr td {
                line-height: 20px;
            }

        .table-custom {
            border: 1px solid darkgrey !important;
            width: 100%;
            border-collapse: collapse;
        }

        .table-data {
            border: 1px solid darkgrey !important;
            width: 100%;
            border-collapse: collapse !important;
        }

            .table-data tr td {
                /*border: 0.5px solid darkgrey !important;*/
            }

        .border_top {
            border-top: 1px solid darkgrey !important;
        }

        .border_bottom {
            border-bottom: 1px solid darkgrey !important;
        }

        .border_left {
            padding-left: 10px !important;
            border-left: 1px solid darkgrey !important;
        }

        .border_right {
            padding-right: 10px !important;
            border-right: 1px solid darkgrey !important;
        }

        .text_left {
            text-align: left !important;
        }

        .text_right {
            text-align: right !important;
        }

        .text_center {
            text-align: center !important;
        }

        .text_arial {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .text_bold {
            font-weight: 800;
        }

        .tabledata_spacing {
            padding-left: 10px;
            padding-right: 10px;
        }

        .text_docno {
            color: darkorange;
        }

        .text_gold {
            color: gold;
        }

        .text_docno_big {
            font-size: 15px;
            color: darkorange;
        }

        .text_20 {
            font-size: 20px !important;
        }

        .text_18 {
            font-size: 18px !important;
        }

        .text_16 {
            font-size: 16px !important;
        }

        .text_14 {
            font-size: 14px !important;
        }

        .text_12 {
            font-size: 12px !important;
        }

        .text_9 {
            font-size: 9px !important;
        }

        .text_8 {
            font-size: 8px !important;
        }

        .text_justify {
            text-align: justify;
        }

        .text_italic {
            font-style: italic;
        }

        .table-title-data {
            color: red;
        }

        .width_50_persen {
            width: 50%
        }

        .padding_left_10 {
            padding-left: 10px !important;
        }

        .padding_right_10 {
            padding-right: 10px !important;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid;
        }

        .table-title-data div {
            border-right: 1px solid #b9b4b4;
            border-bottom: 1px solid #b9b4b4;
            width: 300px;
            padding-left: 14px;
            margin-left: -10px;
            font-weight: 700;
            color: red;
            margin-top: 0px;
            line-height: 35px;
            color: black;
            z-index: 99999;
        }
    </style>
</head>
<body onload="subst()">
    <div style="width:950px !important;padding:10px 10px 10px 10px;margin:20px auto">
        
        <div class="row" style="padding-left:4px;padding-right:4px;">
            <div style="padding:10px">
                <table class="table-custom">
                    <tr>
                        <td class="padding_left_10 table-title-data" style="width:300px;">
                            <div>SHIPPER'S NAME & ADDRESS</div>
                        </td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:70%;" class="border_left text_bold">PT. TRAKINDO UTAMA</td>
                        <td style="width:30%;" class="padding_right_10 text_right">PREPARED BY :</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border_left">Gedung TMT 1, LT. 11 – 17 Suite 1101-1701,  Jl. Cilandak KKO No. 1</td>
                        <td style="text-align:right;" class="text_bold border_right padding_right_10">@Model.TemplateHeader.FullArea &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding_left_10">Kel. Cilandak Timur, Kec. Pasar Minggu Jakarta Selatan </td>
                        <td class="text_right padding_right_10">@Model.TemplateHeader.RequestorName</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border_left">INDONESIA - 12560</td>
                        <td class="text_right padding_right_10">@Model.TemplateHeader.RequestorEmail</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border_left border_bottom" style="border-right:none !important;">Tel. (+62-21) 29976620 | Fax. (+62-21) 29976612 | www.trakindo.co.id</td>
                        <td class="border_bottom border_right" style="border-left:none !important;"></td>
                    </tr>
                </table>

                <div>&nbsp;</div>
                <table class="table-custom">
                    <tr>
                        <td style="height:15px" class="border_left border_top text_bold table-title-data">
                            <div>
                                @Model.Data.SoldConsignee
                            </div>
                        </td>
                        <td></td>
                        <td class="border_top border_left table-title-data text_bold">
                            @if (Model.TemplateHeader.ShipDelivery == "Bill To")
                            {
                                <div>BILL TO</div>
                            }
                            else
                            {
                                <div>
                                    @((Model.TemplateHeader.ShipDelivery == "Notify") ? "NOTIFY PARTY" : (Model.TemplateHeader.ShipDelivery == "Ship To / Delivery To") ? "SHIP TO / DELIVERY TO" : "SOLD TO")
                                </div>}

                        </td>
                    </tr>
                    <tr>
                        <td class="border_left text_bold">@Model.Data.ConsigneeName</td>
                        <td></td>
                        <td class="border_right text_bold">@(!string.IsNullOrEmpty(@Model.Data.NotifyName) ? @Model.Data.NotifyName : @Model.Data.SoldToName)</td>
                    </tr>
                    <tr>
                        <td class="border_left">@Model.Data.ConsigneeAddress</td>
                        <td></td>
                        <td class="border_right">@(!string.IsNullOrEmpty(@Model.Data.NotifyName) ? @Model.Data.NotifyAddress : @Model.Data.SoldToAddress)</td>
                    </tr>
                    <tr>
                        <td class="border_left">@Model.Data.ConsigneePic</td>
                        <td></td>
                        <td class="border_right">@(!string.IsNullOrEmpty(@Model.Data.NotifyName) ? @Model.Data.NotifyPic : @Model.Data.SoldToPic)</td>
                    </tr>
                </table>
                <div>&nbsp;</div>
                <table style="width:100%;">
                    <tr>
                        <td style="width:25%;">SHIPMENT METHOD</td>
                        <td style="width:5%;">:</td>
                        <td style="width:70%">@Model.Data.ShippingMethod</td>
                    </tr>
                    <tr>
                        <td style="width:25%;">EXPORT TYPE</td>
                        <td style="width:5%;">:</td>
                        <td style="width:70%">@Model.Data.ExportType</td>
                    </tr>
                    <tr>
                        <td style="width:25%;">TERMS OF DELIVERY</td>
                        <td style="width:5%;">:</td>
                        <td style="width:70%">@Model.Data.IncoTerm</td>
                    </tr>
                    <tr>
                        <td style="width:25%;">FREIGHT PAYMENT</td>
                        <td style="width:5%;">:</td>
                        <td style="width:70%">@Model.Data.FreightPayment</td>
                    </tr>
                    <tr>
                        <td style="width:25%;">PORT OF LOADING</td>
                        <td style="width:5%;">:</td>
                        <td style="width:70%">@Model.Data.LoadingPort</td>
                    </tr>
                    <tr>
                        <td style="width:25%;">PORT OF DISCHARGE</td>
                        <td style="width:5%;">:</td>
                        <td style="width:70%">@Model.Data.DestinationPort</td>
                    </tr>
                </table>

                <div>&nbsp;</div>
                <table class="table-custom" style="width:300px;border-bottom:none !important;">
                    <tr>
                        <td class="padding_left_10 text_bold" style="width:300px;line-height:30px;">
                            <b>CARGO DESCRIPTION</b>
                        </td>
                    </tr>
                </table>
                <table class="table-custom">
                    <tr>
                        <td colspan="3" style="width:300px;" class="text_bold padding_left_10">@Model.Data.Category - @Model.Data.CategoriItem @(Model.Data.ExportType == "Sales (Permanent)" ? "" : "NCV") WITH</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px;width:30%;">TOTAL QUANTITY (KGS)</td>
                        <td style="width:5%;">:</td>
                        <td align="right" width="30%">@Model.TemplateHeader.TotalQuantity</td>
                        <td style="width:30%;"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px;width:30%;">TOTAL VOLUME (M3)</td>
                        <td style="width:5%;">:</td>
                        <td align="right">@string.Format("{0:}", @ViewBag.volume)</td>
                        <td style="width:40%;"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px">TOTAL NET WEIGHT (KGS)</td>
                        <td>:</td>
                        <td align="right">@string.Format("{0:}", @ViewBag.netWeight)</td>
                        <td style="width:40%;"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px">TOTAL GROSS WEIGHT (KGS)</td>
                        <td>:</td>
                        <td align="right">@string.Format("{0}", @ViewBag.grossWeight)</td>
                        <td style="width:40%;"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px">TOTAL PACKAGES/KOLLY</td>
                        <td>:</td>
                        <td align="right">@Model.TemplateHeader.TotalCaseNumber</td>
                        <td style="width:40%;"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px; text-transform: uppercase; vertical-align: top">Reference No</td>
                        <td style="vertical-align: top">:</td>
                        <td align="right">@Html.Raw(ViewBag.referencesNo)</td>
                        <td style="width:40%;"></td>
                    </tr>
                </table>
                <div style="height: 20px">&nbsp;</div>
                <table class="table-custom" style="width: 300px; border-bottom: none !important;">
                    <tr>
                        <td class="padding_left_10 text_bold" style="width:300px;line-height:30px;">
                            <b>SPECIAL INSTRUCTION</b>
                        </td>
                    </tr>
                </table>
                <table class="table-custom">
                    <tr>
                        <td class="padding_left_10 padding_right_10 text_center">
                            @Model.Data.SpecialInstruction
                        </td>
                    </tr>
                </table>
                <div style="height: 20px;">&nbsp;</div>
                <table class="table-custom">
                    <tr><td colspan="13" class="border_right" style="height:10px"></td></tr>
                    <tr><td colspan="13" class="border_right" style="padding-left: 10px">Approved by,</td></tr>
                    <tr><td colspan="13" class="border_right" style="padding-left: 10px">@Model.TemplateHeader.SignedName</td></tr>
                    <tr><td colspan="13" class="border_right" style="padding-left: 10px">@Model.TemplateHeader.SignedPosition</td></tr>
                    <tr><td colspan="13" class="border_right" style="height:20px"></td></tr>
                    <tr><td colspan="13" class="border_right text_footer" style="padding-left: 10px">This is an electronic document, which printed and generated by computer integrated system. Required as reference for internal export document to get simple traceability. Weight & measurement are reference information only and do not reflect the actual as shown above.</td></tr>
                </table>

                @*<div style="height: 20px">&nbsp;</div>

                <table>
                    <tr>
                        <td colspan="13" class="tableda text_9">
                            <i>This is an electronic document, which printed and generated by computer integrated system. Required as reference for internal export document to get simple traceability. Weight & measurement are reference information only and do not reflect the actual as shown above.</i>
                        </td>
                    </tr>
                </table>*@

                <table class="">
                    <tr>
                        <td><img src="@ViewBag.QrCodeUrlEDI" height="150px" width="150px" /></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</body>
</html>
