@model  App.Web.Models.EMCS.CiplModel
<table class="table-custom">
    <tr>
        <td width="9%"></td>
        <td width="1%"></td>
        <td width="8%"></td>
        <td width="2%"></td>
        <td width="4%"></td>
        <td width="8%"></td>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="6%"></td>
        <td width="4%"></td>
        <td width="8%"></td>
        <td width="8%"></td>
        <td width="1%"></td>
        <td width="5%"></td>
        <td width="2%"></td>
        <td width="5%"></td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td colspan="5" class="border_left border_bottom border_right text_bold">Consignee</td>
        <td colspan="5"></td>
        <td colspan="5" class="border_left border_bottom border_right text_bold">@((Model.TemplateHeader.ShipDelivery == "Notify") ? "Notify Party" : "Sold To/Ship To" )</td>
        <td colspan="2" class="border_right"></td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td colspan="2"></td>
    </tr>
    <tr><td colspan="17"></td></tr>
    <tr>
        <td colspan="7" class="border_left text_bold v_top">@Model.TemplateHeader.ConsigneeName</td>
        <td colspan="3"></td>
        <td colspan="7" class="border_right text_bold v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToName : Model.TemplateHeader.NotifyName )</td>
    </tr>
    <tr>
        <td colspan="7" class="border_left v_top">@Model.TemplateHeader.ConsigneeAddress</td>
        <td colspan="3"></td>
        <td colspan="7" class="border_right v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToAddress : Model.TemplateHeader.NotifyAddress )</td>
    </tr>
    <tr>
        <td colspan="3" class="border_left v_top">Telephone</td>
        <td class="v_top">:</td>
        <td colspan="3" class="v_top">@Model.TemplateHeader.ConsigneeTelephone</td>
        <td colspan="3"></td>
        <td colspan="2" class="v_top">Telephone</td>
        <td class="v_top">:</td>
        <td colspan="4" class="border_right v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToTelephone : Model.TemplateHeader.NotifyTelephone )</td>
    </tr>
    <tr>
        <td colspan="3" class="border_left v_top">Fax</td>
        <td class="v_top">:</td>
        <td colspan="3" class="v_top">@Model.TemplateHeader.ConsigneeFax</td>
        <td colspan="3" class="v_top"></td>
        <td colspan="2" class="v_top">Fax</td>
        <td class="v_top">:</td>
        <td colspan="4" class="border_right v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToFax : Model.TemplateHeader.NotifyFax )</td>
    </tr>
    <tr>
        <td colspan="3" class="border_left v_top">Contact / Attn</td>
        <td class="v_top">:</td>
        <td colspan="3" class="v_top">@Model.TemplateHeader.ConsigneePic</td>
        <td colspan="3" class="v_top"></td>
        <td colspan="2" class="v_top">Contact / Attn</td>
        <td class="v_top">:</td>
        <td colspan="4" class="border_right v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToPic : Model.TemplateHeader.NotifyPic )</td>
    </tr>
    <tr>
        <td colspan="3" class="border_left v_top">Email Address</td>
        <td class="v_top">:</td>
        <td colspan="3" class="v_top">@Model.TemplateHeader.ConsigneeEmail</td>
        <td colspan="3" class="v_top"></td>
        <td colspan="2" class="v_top">Email Address</td>
        <td class="v_top">:</td>
        <td colspan="4" class="border_right v_top">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToEmail : Model.TemplateHeader.NotifyEmail )</td>
    </tr>
    <tr><td colspan="17" style="height:20px" class="border_left border_right"></td></tr>
</table>

<table class="table-document" style="background:white;">
    <tr>
        <td class="border_top border_left text_bold v_top">Currency:</td>
        <td class="border_top text_bold v_top">Shipment Terms:</td>
        <td class="border_top text_bold v_top">Shipment method:</td>
        <td class="border_top text_bold v_top">CoO:</td>
        <td class="border_top text_bold v_top">Vessel/Carrier:</td>
        <td class="border_top text_bold v_top">Sailing on or about:</td>
        <td class="border_top text_bold v_top">Load Port:</td>
        <td class="border_top border_right text_bold v_top">Destination Port:</td>
    </tr>
    <tr>
        <td class="border_left v_top">@Model.Data.Currency</td>
        <td class="v_top">@Model.TemplateHeader.ShipmentTerm</td>
        <td class="v_top">@Model.TemplateHeader.ShippingMethod</td>
        <td class="v_top">@Model.TemplateHeader.CoDesc</td>
        <td class="v_top">@Model.TemplateHeader.VesselCarier</td>
        <td class="v_top">@Model.TemplateHeader.SailingOn</td>
        <td class="v_top">@Model.TemplateHeader.LoadingPort</td>
        <td class="border_right v_top">@Model.TemplateHeader.DestinationPort</td>
    </tr>
    <tr>
        <td class="border_left text_bold" colspan="3">Payment Terms:</td>
        <td colspan="3" class="text_bold">Final Destination:</td>
        <td colspan="2" class="text_left border_right text_bold">LC No & date:</td>
    </tr>
    <tr>
        <td class="border_left" colspan="3">@Model.TemplateHeader.PaymentTerms</td>
        <td colspan="3">@Model.TemplateHeader.FinalDestination</td>
        <td colspan="2" class="text_left border_right">@Model.TemplateHeader.LcNoDate</td>
    </tr>
    <tr><td colspan="8" style="height:10px" class="border_left border_bottom border_right"></td></tr>
    <tr><td colspan="8" style="height:20px"></td></tr>
    <tr>
        <td colspan="8"></td>
    </tr>
</table>


<div class="wrapper">&nbsp;</div>
<table class="table-custom" style="width:230px;">
    <thead>
        <tr>
            <td class="border_left text_bold" style="width:230px;line-height:22px;border-left:1px solid black;">
                Description of Goods :
            </td>
        </tr>
    </thead>
</table>

<table class="table-custom">
    <thead>
        <tr>
            <th class="text_center text_bold border_top border_bottom" style="width:11%">Case Number</th>
            <th class="text_center text_bold border_top border_bottom" style="text-align:center;width:10%;">Item No.</th>
            <th class="text_center text_bold border_top border_bottom" style="width:15%;">Name</th>
            <th class="text_center text_bold border_top border_bottom" style="width:5%;">Qty</th>
            <th class="text_center text_bold border_top border_bottom" style="width:12%;">Part Number</th>
            <th class="text_center text_bold border_top border_bottom" style="width:10%;">J-Code</th>
            <th class="text_center text_bold border_top border_bottom" style="width:5%;">CoO</th>
            <th class="text_center text_bold border_top border_bottom" style="width:17%;">Unit Price</th>
            <th class="text_center text_bold border_top border_bottom" style="width:17%;">Extended Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TemplateDetail)
        {
            <tr>
                <td class="tabledata_spacing text_10 v_top">@item.CaseNumber</td>
                <td class="tabledata_spacing text_10 v_top text_center">@item.ItemNo</td>
                <td class="tabledata_spacing text_10 v_top">@item.Name</td>
                <td class="tabledata_spacing text_10 v_top text_right">@item.Quantity</td>
                <td class="tabledata_spacing text_10 v_top">@item.PartNumber</td>
                <td class="tabledata_spacing text_10 v_top">@item.JCode</td>
                <td class="tabledata_spacing text_10 v_top">@item.CoO</td>
                <td class="tabledata_spacing text_10 v_top text_right">@item.UnitPrice</td>
                <td class="tabledata_spacing text_10 v_top text_right">@item.ExtendedValue</td>
            </tr>
        }
        @if (Model.TemplateDetail.Count() > 5)
        {
            <tr style="height:@(Model.TemplateDetail.Count < 25 ? ((250 / 20) - Model.TemplateDetail.Count) * 20 : 0)px">
                <td colspan="8" class="tabledata_spacing"></td>
            </tr>
        }
    </tbody>
</table>

<div class="wrapper">&nbsp;</div>
<table class="table-custom">
    <tbody>
        <tr>
            <td width="9%"></td>
            <td width="1%"></td>
            <td width="5%"></td>
            <td width="5%"></td>
            <td width="6%"></td>
            <td width="6%"></td>
            <td width="7%"></td>
            <td width="10%"></td>
            <td width="6%"></td>
            <td width="7%"></td>
            <td width="5%"></td>
            <td width="8%"></td>
            <td width="1%"></td>
            <td width="5%"></td>
            <td width="1%"></td>
            <td width="5%"></td>
            <td width="13%"></td>
        </tr>
        <tr>
            <td colspan="3" class="border_left text_bold">TOTAL QUANTITY  :</td>
            <td colspan="2" class="text_right">@ViewBag.Quantity</td>
            <td colspan="12" class="border_right"></td>
        </tr>
        <tr>
            <td colspan="3" class="border_left border_bottom text_bold">TOTAL COLLY / PACKAGE :</td>
            <td colspan="2" class="border_bottom text_right">@ViewBag.Collies</td>
            <td class="border_bottom"></td>
            <td colspan="2" class="border_bottom text_bold">TOTAL VALUE :</td>
            <td colspan="5" class="border_bottom text_right">@Model.TemplateHeader.TotalValue</td>
            <td colspan="2" class="border_bottom"></td>
            <td colspan="2" class="border_left border_right border_top border_bottom text_right">@Model.TemplateHeader.TotalExtendedValue</td>
        </tr>
    </tbody>
</table>

<div class="wrapper">&nbsp;</div>
<table class="table-custom">
    <tr>
        <td width="9%"></td>
        <td width="1%"></td>
        <td width="8%"></td>
        <td width="2%"></td>
        <td width="4%"></td>
        <td width="8%"></td>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="6%"></td>
        <td width="4%"></td>
        <td width="8%"></td>
        <td width="8%"></td>
        <td width="1%"></td>
        <td width="5%"></td>
        <td width="2%"></td>
        <td width="5%"></td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td colspan="5" class="border_left border_bottom border_right text_bold">Shipping Marks & Nos :</td>
        <td colspan="3"></td>
        <td colspan="5" class="border_left border_bottom border_right text_bold">Remarks :</td>
        <td colspan="4" class="border_right"></td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td colspan="3"></td>
        <td colspan="5"></td>
        <td colspan="4"></td>
    </tr>
    <tr><td colspan="17"></td></tr>
    <tr>
        <td colspan="7" class="border_left border_bottom v_top">@Model.TemplateHeader.ShippingMarksDesc</td>
        <td></td>
        <td colspan="9" class="border_right border_bottom v_top">@Model.TemplateHeader.RemarksDesc</td>
    </tr>
    <tr><td colspan="17" style="height:10px"></td></tr>
    <tr><td colspan="17" class="padding_left_10">Approved by,</td></tr>
    <tr><td colspan="17" class="padding_left_10">@Model.TemplateHeader.SignedName</td></tr>
    <tr><td colspan="17" class="padding_left_10">@Model.TemplateHeader.SignedPosition</td></tr>
    <tr><td colspan="17" style="height:10px"></td></tr>
    <tr><td colspan="17" class="text_justify text_12 text_italic padding_left_10 padding_right_10 text_9">Signature is not necessary due to this document is an electronic document which printed and generated by computer integrated system. I/We hereby certify that the information on this invoice is true and correct, and that the contents of this shipment as stated above.</td></tr>
</table>