<table class="table-document">
    <tr>
        <td style="height:20px;width:240px;" class="border_left border_top border_right text_bold">Description of Goods :</td>
        <td style="height:20px"></td>
    </tr>
</table>

<table border="0" class="table-data">
    <thead>
        <tr>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:2%">No.</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:15%">Name</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:5%">SN</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:5%">Year</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:7%">ID Number</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:5%">Qty</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" colspan="3" style="width:15%">Dimension (In CM)</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:10%">Volume (M3)</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" rowspan="2" style="width:10%">Nett Weight (Kgs)</th>
            <th class="text_center text_bold tabledata_spacing border_bottom border_right" rowspan="2" style="width:10%">Gross Weight (Kgs)</th>
        </tr>
        <tr>
            <th class="text_center text_bold tabledata_spacing border_bottom" style="width:5%;background-color:white">Length</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" style="width:5%;background-color:white">Width</th>
            <th class="text_center text_bold tabledata_spacing border_bottom" style="width:5%;background-color:white">Height</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TemplateDetail)
        {
            <tr>
                <td class="tabledata_spacing v_top text_center">@item.ItemNo</td>
                <td class="tabledata_spacing v_top">@item.Name</td>
                <td class="tabledata_spacing v_top text_center">@item.Sn</td>
                <td class="tabledata_spacing v_top text_center">@item.YearMade</td>
                <td class="tabledata_spacing v_top text_center">@item.IdNo</td>
                <td class="tabledata_spacing v_top text_center">@item.Quantity</td>
                <td class="tabledata_spacing text_right">@((item.Length == "0.00") ? "" : item.Length)</td>
                <td class="tabledata_spacing text_right">@((item.Width == "0.00") ? "" : item.Width)</td>
                <td class="tabledata_spacing text_right">@((item.Height == "0.00") ? "" : item.Height)</td>
                <td class="tabledata_spacing text_right">@((item.Volume == "0.000000") ? "" : item.Volume)</td>
                <td class="tabledata_spacing text_right">@((item.NetWeight == "0.00") ? "" : item.NetWeight)</td>
                <td class="tabledata_spacing text_right">@((item.GrossWeight == "0.00") ? "" : item.GrossWeight)</td>
            </tr>
        }
        @{
            if (Model.TemplateDetail.Count <= 2)
            {
                int dummy = 5;
                for (int no = 1; no <= dummy; no++)
                {
                    <tr><td colspan="12" class="border_left border_right" style="border-top:1px solid white;">&nbsp;</td></tr>
                    if (no == 5)
                    {
                        <tr><td colspan="12" class="border_top">&nbsp;</td></tr>
                    }
                }
            }
        }
    </tbody>
</table>