@model  App.Data.Domain.FreightPort
@{
	var mode = ViewBag.crudMode;
	var title = mode == "I" ? "Add" : (mode == "U" ? "Update" : "Delete");
}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title"><i class="fa fa-list"></i>@title <span id="myModalLabel">AirPort</span></h4>
</div>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="modal-body">
		<div class="col-lg-12">
			<!-- Default input -->
			<div class="col-lg-8">
				<div class="form-group">
					<label class="control-label col-md-3 col-xs-12">Port Code</label>
					<div class="input-group col-md-9 col-xs-12">
						@Html.TextBoxFor(m => m.PortCode, new { @class = "form-control required", placeholder = "Port Code" })
						<div>@Html.ValidationMessageFor(m => m.PortCode)</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3 col-xs-12">Port Name</label>
					<div class="input-group col-md-9 col-xs-12">
						@Html.TextBoxFor(m => m.PortName, new { @class = "form-control required", placeholder = "Port Name" })
						<div>@Html.ValidationMessageFor(m => m.PortName)</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3 col-xs-12">Description</label>
					<div class="input-group col-md-9 col-xs-12">
						@Html.TextBoxFor(m => m.Description, new { @class = "form-control required", placeholder = "Description" })
						<div>@Html.ValidationMessageFor(m => m.Description)</div>
					</div>
				</div>
				@if(mode != "I")
				{
					<div class="form-group">
						<label class="control-label col-md-3 col-xs-12">Status</label>
						<div class="input-group col-md-9 col-xs-12">
							<select class="js-states form-control" id="Status" name="Status" style="width: 95%;">
								<option @(Model.Status == 1 ? "selected='selected" : "") value="1">Active</option>
								<option @(Model.Status != 1 ? "selected='selected" : "") value="0">Inactive</option>
							</select>
						</div>
					</div>
				}
				else
				{
					<input type="hidden" name="Status" value="@Model.Status" />
				}

			</div>
			<!-- Default input -->
		</div>
		<div class="nav-tabs-custom nav-justified tabs-style-underline">
			<ul class="nav nav-justified nav-tabs ">
			</ul>
			<!-- /.tab-content -->
		</div>

	</div>

	<div class="modal-footer">
		<span id="progress" class="text-center" style="display: none;">
			<img src="@Url.Content("~/Content/images/wait.gif")" alt="wait" />
			Wait..
		</span>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		@if (mode == "I") {
			<button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Save</button>
		}
		else if (mode == "U")
		{
			<button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Update</button>
		}
		else
		{
			<button type="submit" class="btn btn-danger"><i class="fa fa-save"></i>Delete</button>
		}
	</div>
	<input type="hidden" name="PortID" value="@Model.PortID" />
	<input type="hidden" name="EntryDate" value="@Model.EntryDate" />   
	<input type="hidden" name="EntryBy" value="@Model.EntryBy" />
	<input type="hidden" name="IsSeaFreight" value ="@Model.IsSeaFreight" />
}
<script>

	$(document).ready(function () {
		if (typeof window.rebindCSS == "undefined")
			$.getScript("/scripts/script.js");
		else
			rebindCSS();

		$('#myModalLabel').text((isSeaFreight == 'false' ? 'Air':'Sea')+' Port')

		$("form").removeData("validator");
		$("form").removeData("unobtrusiveValidation");
		$.validator.unobtrusive.parse("form");
	});
</script>
