@model  App.Web.Models.EMCS.BlAwbModel
@{
    ViewBag.Title = "Revise Bl Awb";
    ViewBag.TypeReq = "BlAwb";
    ViewBag.IdReq = Model.BlAwb.IdCl;
    ViewBag.IdStep = Model.Request.IdStep;
}

@Styles.Render("~/Content/EMCS/Custom.css")
@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")
<style>
    .help-block {
        color: #a94442;
        display: inline;
        font-weight: bolder;
    }
</style>
<div class="col-md-12">
    <div class="tab" role="tabpanel" style="box-shadow:none !important;background:none;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a style="z-index:5" href="#invoice" aria-controls="home" role="tab" data-toggle="tab">BL / AWB </a>
            </li>
            <li role="presentation">
                <a style="z-index:4" href="#history" aria-controls="profile" role="tab" data-toggle="tab">Action History</a>
            </li>
            <li role="presentation">
                <a style="z-index:3" href="#problemhistory" aria-controls="profile" role="tab" data-toggle="tab">Problem History</a>
            </li>
        </ul>

        <div class="tab-content tabs-custom">
            <div role="tabpanel" class="tab-pane active" id="invoice">
                <div class="row">
                    <form id="FormUploadBlAwb">
                        <div class="modal-body">
                            <div class="col-md-6">
                                <div class="form-group hide">
                                    <label class="control-label col-lg-4 col-xs-4">ID</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <input type="text" class="form-control" id="CargoID" name="CargoID" value="@Model.Data.Id" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Number</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        <input type="text" class="form-control" id="Number" autocomplete="off" placeholder="Bl Awb Number" required name="Number" value="@Model.BlAwb.Number" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Publisher</label>
                                    <div class="input-group col-xs-8 col-lg-8">
                                        <input type="text" class="form-control" id="Number" autocomplete="off" placeholder="Bl Awb Number" required name="Number" value="@Model.BlAwb.Publisher" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4" id="cc_num">Description</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <textarea type="text" class="form-control" id="Description" autocomplete="off" name="Description" required placeholder="Description" rows="3" value="@Model.BlAwb.Description" disabled>@Model.BlAwb.Description</textarea>
                                    </div>
                                </div>
                                <p></p>
                                <div class="pull-right">
                                    <a href="~/EMCS/MyTask" class="btn btn-default" style="min-width:120px;"><i class="fa fa-chevron-left"></i>&nbsp;Back</a>
                                    <button id="btnRevise" type="button" class="btn btn-warning" value="Revise" style="min-width:120px;"><i class="fa fa-paper-plane"></i>&nbsp;Revise</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <iframe title="File Name" src="@Url.Content("~/Upload/EMCS/BLAWB/" + @Model.BlAwb.FileName)" style="width: 100%; height: 800px;"></iframe>
                            </div>
                        </div>

                        <div class="box-footer text-right">
                        </div>
                    </form>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <input type="hidden" name="idCargo" id="idCargo" value="@Model.Data.Id" />
                        <table id="tableCargoHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="problemhistory">
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table id="tableCargoProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                    </div>
                </div>
            </div>

            @*<div role="tabpanel" class="tab-pane" id="documents">
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table id="tableCargoDocuments" data-toolbar=".toolbar" class="table table-bordered"></table>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

@Html.Partial("Modal.FormProblem")



@section scripts{
    @*<script src="@Url.Content("~/Content/EMCS/DropZone/dropzone.js")"></script>*@
    <script src="@Url.Content("~/Content/EMCS/SweetAlert/sweetalert2.min.js")"></script>
    @Scripts.Render("~/Scripts.app/EMCS/function.cshtml.js")
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoHistory.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
    @Scripts.Render("~/Scripts.app/EMCS/FormProblem.cshtml.js")
    <script>

        $("#FormUploadBlAwb").validate({
            onkeyup: false,
            errorClass: "error",

            errorPlacement: function (error, element) {
                if (element.hasClass("select2") && element.hasClass("input-validation-error")) {
                    element.next("span").addClass("input-validation-error");
                } else if (element.hasClass("select2-hidden-accessible")) {
                    error.insertAfter(element.parent('span.select2'));
                }
            },
            errorElement: 'span',
            onError: function () {
                $('.input-group.error').find('.help-block.form-error').each(function () {
                    $(this).closest('.form-group').addClass('error-class').append($(this));
                });
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            //When removing make the same adjustments as when adding
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(element).next("span").removeClass("input-validation-error");
            },
        });

        $("#YesReviseBtn").on("click", function () {
            var status = $("#myModalProblemContent form").valid();
            var StatusName = "Revise";
            if (status) {
                $.ajax({
                    url: '/EMCS/ReviseBlAwbb',
                    type: 'POST',
                    data: {
                        IdCl: $('#CargoID').val(),
                        Status: 'Revise'
                    },
                    cache: false,
                    async: false,
                    success: function (data, response) {
                        submitProblem(StatusName);
                    },
                    error: function (e) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong! Fail Update Data',
                        })
                    }
                })
            }
        })

        function submitProblem(statusName) {
            var status = false;
            var data = $("#myModalProblemContent form").serializeArray();
            data.push({ name: "Status", value: statusName });
            $.ajax({
                url: myApp.fullPath + "EMCS/SaveProblemHistory",
                type: "Post",
                async: false,
                data: data,
                success: function (resp) {
                    var result = resp.result;
                    status = true;
                    ReviseProblem(result.Status, result.IdRequest, result.Comment, statusName);
                },
                error: function (resp) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Data Error. Please Try Again !',
                        type: 'error',
                    })
                }
            })
            return status;
        }

        function ReviseProblem(Status, IdRequest, Notes, statusName) {
            $.ajax({
                url: myApp.fullPath + "EMCS/CiplApproval",
                type: "Post",
                async: false,
                data: {
                    Status: Status,
                    Id: IdRequest,
                    Notes: Notes
                },
                success: function (resp) {
                    console.log(resp);
                    Swal.fire({
                        title: statusName + '!',
                        text: 'Data Confirmed Successfully',
                        type: 'success',
                    }).then((result) => {
                        window.location.href = "/EMCS/MyTask";
                    });
                },
                error: function (resp) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Data Error. Please Try Again !',
                        type: 'error',
                    })
                }
            })
        }

    </script>
}
