@model  App.Web.Models.EMCS.CargoModel
@{
    ViewBag.Title = "Cargo View";
    ViewBag.Page = "cargo";
    ViewBag.Id = Model.Data.Id.ToString();
}

@Styles.Render("~/Content/EMCS/Custom.css")
@Styles.Render("~/Content/EMCS/Wizard/WizardPoint.css")
@Styles.Render("~/Content/EMCS/BootstrapTable/bootstrap-table-group-by.css")

<div class="col-md-12">
    @Html.Partial("~/Views/EMCS/Wizard.cshtml")
</div>

<div class="col-md-12">
    <div class="tab" role="tabpanel" style="margin-top: 15px;box-shadow:none !important;background:none;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a style="z-index:10;" href="#invoice" aria-controls="home" role="tab" data-toggle="tab">Cargo List</a>
            </li>
            <li role="presentation">
                <a style="z-index:9;" href="#history" aria-controls="profile" role="tab" data-toggle="tab">Cargo History</a>
            </li>
            <li role="presentation">
                <a style="z-index:8;" href="#problemhistory" aria-controls="profile" role="tab" data-toggle="tab">Problem History</a>
            </li>
            @if (Model.TemplateHeader != null)
            {
                <li role="presentation">
                    <a style="z-index:7;" href="#template" aria-controls="profile" role="tab" data-toggle="tab">Cargo Preview</a>
                </li>
            }
            <li role="presentation">
                <a style="z-index:6;" href="#documents" id="listgetforview" aria-controls="profile" role="tab" data-toggle="tab">Documents</a>
            </li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content tabs-custom">
            <div role="tabpanel" class="tab-pane active" id="invoice">
                <div class="row">
                    <div class="col-md-12">
                        <div>&nbsp;</div>
                        <div class="form-horizontal">
                            <fieldset class="scheduler-border">
                                <legend style="display: none;">&nbsp</legend>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Cl No</label>
                                        <div class="col-sm-8">
                                            <input type="hidden" class="form-control" id="CargoID" name="CargoID" disabled value="@Model.Data.Id">
                                            <input type="text" class="form-control" id="noCl" name="noCl" disabled value="@Model.Data.ClNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Date</label>
                                        <div class="col-sm-8">
                                            @if (Model.Data.UpdateDate != Convert.ToDateTime("1/1/1900 00:00:00") && Model.Data.Status == "Submit")
                                            {
                                                <input type="text" class="form-control" id="noCipl" name="noCipl" placeholder="Date" disabled value="@Model.Data.UpdateDate.Value.ToString("dd MMM yyyy")">
                                            }
                                            @if (Model.Data.UpdateDate != Convert.ToDateTime("1/1/1900 00:00:00") && Model.Data.Status != "Submit")
                                            {
                                                <input type="text" class="form-control" id="noCipl" name="noCipl" placeholder="Date" disabled value="@Model.Data.CreateDate.ToString("dd MMM yyyy")">
                                            }
                                            @if (Model.Data.UpdateDate == Convert.ToDateTime("1/1/1900 00:00:00") && Model.Data.Status != "Submit")
                                            {
                                                <input type="text" class="form-control" id="noCipl" name="noCipl" placeholder="Date" disabled value="@Model.Data.CreateDate.ToString("dd MMM yyyy")">
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Prepared By</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="preparedCl" name="preparedCl" value="@Model.Data.PreparedBy" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Consignee</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="consigneeCl" name="consigneeCl" value="@Model.Data.Consignee" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Notify Party</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="notifyCl" name="notifyCl" value="@Model.Data.NotifyParty" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Export Type</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="exportType" name="exportType" value="@(!string.IsNullOrEmpty(Model.Data.ExportType) ? Model.Data.ExportType : "-")" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Category</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="category" name="category" value="@Model.Data.Category" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Incoterms</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="incoterms" name="incoterms" value="@Model.Data.IncotermsDesc" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Shipping Method</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="ShippingMethod" class="form-control" value="@Model.Data.ShippingMethod" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Cargo Type</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="CargoType" class="form-control" value="@Model.Data.CargoTypeName" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Referrence</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" id="Referrence" name="Referrence" disabled rows="2" cols="2">@(Model.Data.RefEdo ?? "")</textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend style="display: none;">&nbsp;</legend>
                                <div class="col-md-12">
                                    <table class="table table-bordered" id="tableCargoView" style="width: 100%;"></table>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">&nbsp;</legend>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">Total Packages</label>
                                        <div class="input-group col-lg-8 col-xs-8">
                                            @if (Model.Data.TotalPackageBy == "CaseNo")
                                            {
                                                <div class="col-lg-6 col-xs-6" >
                                                    <input type="text" class="form-control text-right" id="TotalPackage" value="Total Package by CaseNumber" disabled>
                                                </div>
                                                <div class="col-lg-6 col-xs-6" style="right: 20px;">
                                                    <input type="text" class="form-control text-right" id="getcount" disabled>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-6 col-xs-6" >
                                                    <input type="text" class="form-control text-right" id="TotalPackage" value="Total Package by Item" disabled>
                                                </div>
                                                <div class="col-lg-6 col-xs-6" style="right: 20px;">
                                                    <input type="text" class="form-control text-right" id="getcount" disabled>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left: 0px;">
                                        <label class="control-label col-lg-4 col-xs-4">Total Net Weight</label>
                                        <div class="input-group col-lg-8 col-xs-8" style="padding-left: 5px; padding-right: 15px;">
                                            <input type="text" class="form-control text-right" id="tonetwegCl" name="togroswegCl" value="" disabled>
                                            <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="margin-left: 0px;">
                                        <label class="control-label col-lg-4 col-xs-4">Total Gross Weight</label>
                                        <div class="input-group col-lg-8 col-xs-8" style="padding-left: 5px; padding-right: 15px;">
                                            <input type="text" class="form-control text-right" id="togroswegCl" name="togroswegCl" value="" disabled>
                                            <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">KGs</div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left: 0px;">
                                        <label class="control-label col-lg-4 col-xs-4">Total Volume</label>
                                        <div class="input-group col-lg-8 col-xs-8" style="padding-left: 5px; padding-right: 15px;">
                                            <input type="text" class="form-control text-right" id="tovolumeCl" name="tovolumeCl" value="" disabled>
                                            <div class="input-group-addon" style="width: 50px; background:#00C0EF;border-color:#00ACD6; color:white;">m3</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border"></legend>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4">Stuffing Date (Started)</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="startstufCl" name="startstufCl" value="@(Model.Data.StuffingDateStarted.HasValue ? Model.Data.StuffingDateStarted.Value.ToString("dd MMM yyyy") : "-")" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Stuffing Date (Finished)</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="finishstufCl" name="finishstufCl" value="@(Model.Data.StuffingDateFinished.HasValue ? Model.Data.StuffingDateFinished.Value.ToString("dd MMM yyyy") : "-")" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Flight / Sailing Schedule (ETD) </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="flightCl" name="flightCl" value="@(Model.Data.SailingSchedule.HasValue ? Model.Data.SailingSchedule.Value.ToString("dd MMM yyyy") : "-")" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4">Arrival Schedule (ETA)</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="arrivalCl" name="arrivalCl" value="@(Model.Data.ArrivalDestination.HasValue ? Model.Data.ArrivalDestination.Value.ToString("dd MMM yyyy") : "-")" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Vessel/Flight Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="veselCl" name="veselCl" value="@Model.Data.VesselFlight" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Vessel/Flight No</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="voyageCl" name="voyagelCl" value="@Model.Data.VoyageVesselFlight" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Booking Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="booknumCl" name="booknumCl" value="@Model.Data.BookingNumber" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Booking Date</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="bookdateCl" name="bookdateCl" value="@(Model.Data.BookingDate.HasValue ? Model.Data.BookingDate.Value.ToString("dd MMM yyyy") : "-")" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Connecting Vessel/Flight Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="connectveselCl" name="connectveselCl" value="@Model.Data.ConnectingVesselFlight" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Connecting Vessel/Flight No</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="voyageCl" name="voyagelCl" value="@Model.Data.VoyageConnectingVessel" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Port of Loading</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="portloadCl" name="portloadCl" value="@Model.Data.PortOfLoading" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4">Port of Discharge / Destination</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="portDiscCl" name="portDiscCl" value="@Model.Data.PortOfDestination" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4">Liner</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="linerCl" name="linerCl" value="@Model.Data.Liner" disabled>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="~/EMCS/CargoList" class="btn btn-default pull-right" style="width:120px;"><i class="fa fa-chevron-circle-left"></i>&nbsp;Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <input type="hidden" name="idCargo" id="idCargo" value="@Model.Data.Id" />
                        <table id="tableCargoHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="problemhistory">
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table id="tableCargoProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="documents">
                @*<div class="row">
                    <div class="col-xs-12 table-responsive">*@
                @Html.Partial("CargoTabDocuments")
                @*</div>
                    </div>*@
            </div>
            @if (Model.TemplateHeader != null)
            {
                <div class="tab-pane" id="template">
                    <div class="row" style="margin-top:15px;margin-bottom:10px;padding-left:153px">
                        <div class="col-md-12">
                            <a class="btn btn-info" href="~/download/downloadcargo/@Model.Data.Id"><i class="fa fa-file-pdf-o"></i> Export CL</a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/EMCS/CargoPreview.cshtml")
                </div>
            }
        </div>
    </div>
</div>
<input type="hidden" name="name" value="@Model.Data.TotalPackageBy" id="TotalBy" />

@section scripts
{
    @Scripts.Render("~/Scripts.app/EMCS/function.cshtml.js")
    @Scripts.Render("~/Content/EMCS/BootstrapTable/bootstrap-table-group-by.min.js")
    <script>
        var wizardState = @ViewBag.WizardData.Progress;
        var CargoTypeName = "@Model.Data.CargoTypeName";
        var visible = false;
        if (CargoTypeName === "Full Container Load") {
            visible = true;
        }

        var spacing = 0;
        if ('@Model.TemplateDetail.Count' < 25)
            spacing = ((250 / 20) - '@Model.TemplateDetail.Count') * 20;
        $('.spacing').css("height", spacing + 'px');

        $(document).ready(function () {
                var IdCargo = $("#CargoID").val();
             $.get(myApp.fullPath + "EMCS/GetTotalDataCargo?Id=" + IdCargo + "&selectvalue=" + $('#TotalBy').val(), function (resp) {
                    var data = {};
                    $.map(resp.data, function (value, key) {
                        data[value.Key] = value.Value;
                    });
                    $("#getcount").val(formatCurrency(data.totalPackage, ".", ",", 2));
                $("#togroswegCl").val(formatCurrency(data.totalGrossWeight, ".", ",", 2));
                $("#tonetwegCl").val(formatCurrency(data.totalNetWeight, ".", ",", 2));
                $("#tovolumeCl").val(data.totalVolume);
                });

            
        })
        
        var tableCargoForm = [
            [
                {
                field: "Id",
                title: "NO",
                rowspan: 2,
                align: 'center',
                formatter: runningFormatterNoPaging
            }, {
                field: "IdCipl",
                rowspan: 2,
                visible: false
            }, {
                field: "ContainerNumber",
                title: "CONTAINER",
                rowspan: 2,
                visible: visible,
                halign:"center",
                align: 'center',
                sortable: true
            }, {
                field: "IncoTerm",
                rowspan: 2,
                visible: false
            }, {
                field: "ContainerType",
                title: "CONTAINER TYPE",
                rowspan: 2,
                halign: "center",
                align: "left",
                visible:visible,
                sortable: true,
                formatter: function (data, row, index) {
                    if (data !== "") {
                        return data;
                    }
                    return "-";
                }
            }, {
                field: "ContainerSealNumber",
                title: "SEAL NUMBER",
                rowspan: 2,
                align: 'center',
                visible:visible,
                sortable: true,
                formatter: function (data, row, index) {
                    if (data !== "") {
                        return data;
                    }
                    return "-";
                }
            }, {
                field: "CaseNumber",
                title: "CASE NUMBER",
                rowspan: 2,
                align: 'center',
                sortable: true,
                visible: visible,
                formatter: function (data, row, index) {
                    if (data !== "") {
                        return data;
                    }
                    return "-";
                }
            }, {
                field: "ItemName",
                title: "ITEM NAME",
                rowspan: 2,
                halign: 'center',
                align: 'left',
                class:"text-nowrap",
                sortable: true,
                formatter: function (data, row, index) {
                    if (data !== "") {
                        return data;
                    }
                    return "-";
                }
            }, {
                field: "Sn",
                title: "SN",
                rowspan: 2,
                halign: 'center',
                align: 'left',
                sortable: true,
                formatter: function (data, row, index) {
                    if (data !== "") {
                        return data;
                    }
                    return "-";
                }
            }, {
                field: "reference",
                title: "REFERENCE",
                colspan: 2,
                sortable: true,
                align: 'center'
            }, {
                field: "CargoDescription",
                title: "CARGO DESCRIPTION",
                rowspan: 2,
                align: 'center',
                sortable: true
            }, {
                field: "volume",
                title: 'VOLUME',
                colspan: 3,
                align: 'right',
                halign: 'center',
                align: 'center',
                    sortable: true,
                    formatter: currencyFormatter
            }, {
                field: "NetWeight",
                title: "NET WEIGHT (KGS)",
                rowspan: 2,
                align: 'right',
                halign:'center',
                    sortable: true,
                    formatter: currencyFormatter
            }, {
                field: "GrossWeight",
                title: "GROSS WEIGHT (KGS)",
                rowspan: 2,
                align: 'right',
                halign: 'center',
                    sortable: true,
                    formatter: currencyFormatter
            }],
            [{
                field: "EdoNo",
                title: "EDI Number",
                align: 'center',
                sortable: true
            }, {
                field: "InboundDa",
                title: "INBOUND DA #",
                halign: 'center',
                align: 'left',
                sortable: true
            }, {
                field: "Length",
                title: "Length",
                align: 'right',
                halign: 'center',
                    sortable: true,
                    formatter: currencyFormatter
            }, {
                field: "Width",
                title: "Width",
                align: 'right',
                halign: 'center',
                    sortable: true,
                    formatter: currencyFormatter
            }, {
                field: 'Height',
                title: "Height",
                align: 'right',
                halign: 'center',
                    sortable: true,
                    formatter: currencyFormatter
            }
            ]
        ]

        $tableCargoForm = $("#tableCargoView");
        $tableCargoForm.bootstrapTable({
            columns: tableCargoForm,
            url: "/EMCS/GetCargoListItem",
            cache: false,
            sidePagination: 'client',
            pagination: true,
            search: false,
            queryParams: function (params) {
                var CargoID = $("#CargoID").val();
                return { "Id": CargoID }
            },
            striped: false,
            clickToSelect: true,
            reorderableColumns: true,
            responseHandler: function (resp) {
                var data = {};
                $.map(resp, function (value, key) {
                    data[value.Key] = value.Value;
                });
                return data.rows;
            },
            toolbar: '.toolbar',
            toolbarAlign: 'left',
            onClickRow: selectRow,
            showColumns: true,
            showRefresh: true,
            smartDisplay: false,
            pageSize: '10',
            formatNoMatches: function () {
                return '<span class="noMatches">No Item Found</span>';
            }
        });

    </script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Wizard/ProgressWizard.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoHistory.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoDocuments.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoItem.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/Cargo.cshtml.js")"></script>
}