<div class="row" style="margin-top:15px;margin-bottom:15px;padding-left:139px">
    <div class="col-md-12">
        <strong>
            <a class="btn btn-info" href="~/download/downloadedi/@Model.Data.Id"><i class="fa fa-file-pdf-o"></i> Export EDI</a>
        </strong>
    </div>
</div>

<div id="preview" style="overflow-y: auto;">
    <object style="width: 100%; height: 29.7cm;" data="~/download/downloadedi/@Model.Data.Id"
            type="application/pdf">
        Gagal memuat dokumen
    </object>
</div>
@*<div style="width:950px !important;border:1px solid;border-color:darkgray;padding:10px 10px 10px 10px;margin:20px auto">
    <div class="row" style="padding-left:4px;padding-right:4px">
        <div style="padding:10px">
            <table class="table-document">
                <tr>
                    <td colspan="5" style="width:65%;"></td>
                    <td colspan="3" style="width:35%;"></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <img alt="Trakindo Logo" src="../../Images/trakindo_logo.jpg" />
                    </td>
                    <td colspan="3" class="border_left border_top border_right border_bottom text_bold">
                        <span class="text_bold header_title">EXPORT DELIVERY INSTRUCTION</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:99px;">&nbsp;</td>
                    <td colspan="4" class="address_document text_bold text_14 text_bold" style="font-weight:900;"><b style="font-weight:900;font-size:12px;">PT. TRAKINDO UTAMA</b></td>
                    <td class="border_left" style="width:50px;">Number</td>
                    <td>:</td>
                    <td style="width: 180px;letter-spacing: 0ex;" class="border_right text_bold text_docno_big border_right text_gold text_bold text_18">@Model.TemplateHeader.EdiNo</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4" class="address_document">Gedung TMT 1, LT. 11&minus;17 Suite 1101-1701, Jl. Cilandak KKO No. 1</td>
                    <td class="border_left">Date</td>
                    <td class="">:</td>
                    <td class="border_right border_right">@Model.Data.UpdateDate.ToString("dd MMM yyyy")</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4" class="address_document">Kel. Cilandak Timur, Kec. Pasar Minggu</td>
                    <td class="border_left border_bottom ">Cipl No</td>
                    <td class="border_bottom">:</td>
                    <td class="border_right border_bottom text_left">@Model.TemplateHeader.CiplNo</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="3" style="width:20px;" class="address_document">Tel.</td>
                    <td class="address_document">: (62-21) 29976620</td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="3" class="address_document">Fax.</td>
                    <td class="address_document">: (62-21) 29976612</td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="3" class="address_document"></td>
                    <td class="address_document"></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                </tr>

            </table>

            <table class="table-document">
                <tr><td colspan="14" style="height:20px"></td></tr>
                <tr>
                    <td colspan="6" style="height:15px" class="border_left border_top border_right border_bottom text_bold">SHIPPER'S NAME & ADDRESS</td>
                    <td colspan="8" class="border_right border_top"></td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left text_bold">PT. TRAKINDO UTAMA</td>
                    <td colspan="4"></td>
                    <td colspan="3" class="border_right text_right text_bold">PREPARED BY :</td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left">Gedung TMT 1, LT. 11 – 17 Suite 1101-1701,  Jl. Cilandak KKO No. 1</td>
                    <td colspan="4"></td>
                    <td colspan="3" style="text-align:right" class="border_right">@Model.TemplateHeader.FullArea</td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left">Kel. Cilandak Timur, Kec. Pasar Minggu Jakarta Selatan </td>
                    <td colspan="4"></td>
                    <td colspan="3" class="border_right text_right">@Model.TemplateHeader.RequestorName</td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left">INDONESIA - 12560</td>
                    <td colspan="4"></td>
                    <td colspan="3" class="border_right text_right">@Model.TemplateHeader.RequestorEmail</td>
                </tr>
                <tr>
                    <td colspan="11" class="border_left border_bottom">Tel. (+62-21) 29976620 | Fax. (+62-21) 29976612 | www.trakindo.co.id</td>
                    <td colspan="3" class="border_bottom border_right"></td>
                </tr>
                <tr><td colspan="14" style="height:20px"></td></tr>
                <tr>
                    <td colspan="6" style="height:15px" class="border_left border_top border_right border_bottom text_bold">@Model.Data.SoldConsignee</td>
                    <td colspan="3" class="border_top"></td>
                    @if (Model.TemplateHeader.ShipDelivery == "Bill To")
                    {
                        <td colspan="5" class="border_left border_top border_right border_bottom text_bold">BILL TO</td>

                    }
                    else
                    {
                        <td colspan="5" class="border_left border_top border_right border_bottom text_bold">@((Model.Data.ShipDelivery == "Notify") ? "NOTIFY PARTY" : (Model.Data.ShipDelivery == "Ship To / Delivery To") ? "SHIP TO / DELIVERY TO" : "SOLD TO")</td>
                    }
                </tr>
                <tr>
                    <td colspan="6"></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left text_bold">@Model.Data.ConsigneeName</td>
                    <td colspan="2"></td>
                    <td colspan="5" class="border_right text_bold">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToName : Model.TemplateHeader.NotifyName)</td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left">@Model.Data.ConsigneeAddress</td>
                    <td colspan="2"></td>
                    <td colspan="5" class="border_right">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToAddress : Model.TemplateHeader.NotifyAddress)</td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left">@Model.Data.ConsigneePic</td>
                    <td colspan="2"></td>
                    <td colspan="5" class="border_right">@((Model.TemplateHeader.NotifyName == "-") ? Model.TemplateHeader.SoldToPic : Model.TemplateHeader.NotifyPic)</td>
                </tr>
                <tr>
                    <td colspan="7" class="border_left border_bottom"></td>
                    <td colspan="2" class="border_bottom"></td>
                    <td colspan="5" class="border_right border_bottom"></td>
                </tr>
                <tr style="height:10px">
                    <td colspan="7"></td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td colspan="3">SHIPMENT METHOD</td>
                    <td colspan="11">: @Model.Data.ShippingMethod</td>
                </tr>
                <tr>
                    <td colspan="3">EXPORT TYPE</td>
                    <td colspan="11">: @Model.Data.ExportType</td>
                </tr>
                <tr>
                    <td colspan="3">TERMS OF DELIVERY</td>
                    <td colspan="11">: @Model.Data.IncoTerm</td>
                </tr>
                <tr>
                    <td colspan="3">FREIGHT PAYMENT</td>
                    <td colspan="11">: @Model.Data.FreightPayment</td>
                </tr>
                <tr>
                    <td colspan="3">PORT OF LOADING</td>
                    <td colspan="11">: @Model.Data.LoadingPort</td>
                </tr>
                <tr>
                    <td colspan="3">PORT OF DISCHARGE</td>
                    <td colspan="11">: @Model.Data.DestinationPort</td>
                </tr>
                <tr style="height:10px">
                    <td colspan="6"></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6" style="height:15px" class="border_left border_top border_right text_bold">CARGO DESCRIPTION</td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="4" class="border_left border_top text_bold">@Model.Data.Category - @Model.Data.CategoriItem @(Model.Data.ExportType == "Sales (Permanent)" ? "" : "NCV") WITH</td>
                    <td colspan="10" class="border_right border_top"></td>
                </tr>
                <tr>
                    <td colspan="3" class="border_left" style="padding-left:20px!important">TOTAL QUANTITY (KGS)</td>
                    <td colspan="1">:</td>
                    <td colspan="5" style="text-align:right;">@Model.TemplateHeader.TotalQuantity</td>
                    <td colspan="5" class="border_right"></td>
                </tr>
                <tr>
                    <td colspan="3" class="border_left" style="padding-left:20px!important">TOTAL VOLUME (M3)</td>
                    <td colspan="1">:</td>
                    <td colspan="5" style="text-align:right;">@ViewBag.volume</td>
                    <td colspan="5" class="border_right"></td>
                </tr>
                <tr>
                    <td colspan="3" class="border_left" style="padding-left:20px!important">TOTAL NET WEIGHT (KGS)</td>
                    <td colspan="1">:</td>
                    <td colspan="5" style="text-align:right;">@String.Format("{0:N}", ViewBag.netWeight)</td>
                    <td colspan="5" class="border_right"></td>
                </tr>
                <tr>
                    <td colspan="3" class="border_left" style="padding-left:20px!important">TOTAL GROSS WEIGHT (KGS)</td>
                    <td colspan="1">:</td>
                    <td colspan="5" style="text-align:right;">@String.Format("{0:N}", ViewBag.grossWeight)</td>
                    <td colspan="5" class="border_right"></td>
                </tr>
                <tr>
                    <td colspan="3" class="border_left" style="padding-left:20px!important">TOTAL PACKAGES/COLLY</td>
                    <td colspan="1">:</td>
                    <td colspan="5" style="text-align:right;">@Model.TemplateHeader.TotalCaseNumber</td>
                    <td colspan="5" class="border_right"></td>
                </tr>
                <tr>
                    <td colspan="3" class="border_left" style="padding-left: 20px !important; text-transform: uppercase; vertical-align: top">Reference No</td>
                    <td colspan="1" style="vertical-align: top">:</td>
                    <td colspan="5" style="min-width: 190px; right; vertical-align: top; text-align: right">@Html.Raw(ViewBag.referencesNo)</td>
                    <td colspan="5" class="border_right"></td>
                </tr>
                <tr>
                    <td colspan="14" class="border_left border_right" style="height:30px;"></td>
                </tr>
                <tr style="height:10px">
                    <td colspan="7" class="border_left border_bottom"></td>
                    <td colspan="7" class="border_bottom border_right"></td>
                </tr>
                <tr style="height:10px">
                    <td colspan="6"></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6" style="height:15px" class="border_left border_top border_right text_bold">SPECIAL INSTRUCTION</td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="14" class="border_bottom">
                        <table border="1" class="table-data">
                            <thead>
                                <tr>
                                    <th class="text_center tabledata_spacing" rowspan="2" style="width:3%;height:2em">@Model.Data.SpecialInstruction</th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="14" style="height:10px"></td></tr>
                <tr><td colspan="14">Approved by,</td></tr>
                <tr><td colspan="14">@Model.TemplateHeader.SignedName</td></tr>
                <tr><td colspan="14">@Model.TemplateHeader.SignedPosition</td></tr>
                <tr><td colspan="14" style="height:20px"></td></tr>
                <tr><td colspan="14" class="text_footer">This is an electronic document, which printed and generated by computer integrated system. Required as reference for internal export document to get simple traceability. Weight & measurement are reference information only and do not reflect the actual as shown above.</td></tr>
            </table>
            <table class="table-document">
                <tr>
                    <td><img src="@ViewBag.QrCodeUrlEDI" height="150px" width="150px" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>*@