@model  App.Web.Models.EMCS.CiplModel
@{
    ViewBag.Title = "Commercial Invoice Packing List Cancellation";
    ViewBag.TypeReq = "Cipl";
    ViewBag.IdReq = Model.Data.Id;
    ViewBag.IdStep = Model.DataRequest.IdStep;
}

@Styles.Render("~/Content/EMCS/Custom.css")
@Styles.Render("~/Content/EMCS/Wizard/WizardPoint.css")
@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")

<div class="col-md-12">
    <div class="col-md-12">
        @Html.Partial("~/Views/EMCS/Wizard.cshtml")
    </div>
    <div class="col-md-12">
        <div class="tab" role="tabpanel" style="box-shadow:none !important;background:none;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#invoice" aria-controls="home" role="tab" data-toggle="tab">Detail</a>
                </li>
                <li role="presentation">
                    <a href="#history" aria-controls="profile" role="tab" data-toggle="tab" style="z-index:9;">History</a>
                </li>
                <li role="presentation">
                    <a href="#problemhistory" aria-controls="profile" role="tab" data-toggle="tab" style="z-index:8;">Problem</a>
                </li>
                <li role="presentation">
                    <a href="#documents" aria-controls="profile" role="tab" data-toggle="tab" style="z-index:7;">Documents</a>
                </li>
                <li role="presentation">
                    <a href="#edipreview" aria-controls="profile" role="tab" data-toggle="tab" style="z-index:6;">EDI Preview</a>
                </li>
                <li role="presentation">
                    <a href="#inpreview" aria-controls="profile" role="tab" data-toggle="tab" style="z-index:5;">Invoice Preview</a>
                </li>
                <li role="presentation">
                    <a href="#plpreview" aria-controls="profile" role="tab" data-toggle="tab" style="z-index:4;">PL Preview</a>
                </li>
                <li class="hidden" role="presentation">
                    <a href="#uploaddoc" aria-controls="messages" role="tab" data-toggle="tab" style="z-index:3;">Upload Documents</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs-custom">
                <div role="tabpanel" class="tab-pane active" id="invoice">
                    @Html.Partial("CiplTabInvoice", Model)
                </div>

                <div role="tabpanel" class="tab-pane" id="history">
                    @Html.Partial("CiplTabHistory")
                </div>

                <div role="tabpanel" class="tab-pane" id="problemhistory">
                    @Html.Partial("CiplTabProblemHistory")
                </div>

                <div role="tabpanel" class="tab-pane" id="documents">
                    @Html.Partial("CiplTabDocuments")
                </div>

                <div role="tabpanel" class="tab-pane" id="edipreview">
                    @Html.Partial("CiplTabEditPreview")
                </div>

                <div role="tabpanel" class="tab-pane" id="inpreview">
                    @Html.Partial("CiplTabInPreview")
                </div>

                <div role="tabpanel" class="tab-pane" id="plpreview">
                    @Html.Partial("CiplTabPlPreview")
                </div>

                <div role="tabpanel" class="tab-pane" id="uploaddoc">
                    @Html.Partial("CiplTabUploadDoc")
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pull-right">
                    <div class="form-group pull-right" style="margin-top:20px">
                        <div class="" role="group">
                            <button type="button" class="btn btn-warning" id="btnCancel"><i class="fa fa-undo"></i> Cancel</button>
                            <a href="/EMCS/CiplList" class="btn btn-primary"><i class="fa fa-times"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Modal.FormProblem")

@section scripts
{
    <script>
        var wizardState = @ViewBag.WizardData.Progress;
        if ('@Model.Data.Category' == 'CATERPILLAR NEW EQUIPMENT') {
            $('#InvSales').removeClass("hidden");
            $('#PLSales').removeClass("hidden");
        } else if ('@Model.Data.Category' == 'CATERPILLAR USED EQUIPMENT') {
            $('#InvRUE').removeClass("hidden");
            $('#PLRUE').removeClass("hidden");
        } else if ('@Model.Data.Category' == 'CATERPILLAR SPAREPARTS') {
            if ('@Model.Data.CategoriItem' == 'Old Core') {
                $('#InvOldCore').removeClass("hidden");
                $('#PLOldCore').removeClass("hidden");
            } else if ('@Model.Data.CategoriItem' == 'PRA' || '@Model.Data.CategoriItem' == 'SIB') {
                $('#InvPRA-SIB').removeClass("hidden");
                $('#PLPRA-SIB').removeClass("hidden");
            }
        }
    </script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Wizard/ProgressWizard.js")"></script>
    <script src="@Url.Content("~/Content/EMCS/DropZone/dropzone.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/function.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CiplHistory.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CiplDocuments.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CiplItem.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CiplProblemHistory.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CiplGlobal.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CiplApprove.cshtml.js")"></script>
    <script src="@Url.Content("~/Content/EMCS/SweetAlert/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
    @Scripts.Render("~/Content/EMCS/Autocomplete/jquery.easy-autocomplete.js")
    @Scripts.Render("~/Scripts.app/EMCS/FormProblem.cshtml.js")
    <script>
        function CancelProblem(Status, IdRequest, Notes) {
            $.ajax({
                url: myApp.fullPath + "EMCS/CiplApproval",
                type: "Post",
                async: false,
                data: {
                    Status: Status,
                    Id: IdRequest,
                    Notes: Notes
                },
                success: function (resp) {
                    console.log(resp);
                    Swal.fire({
                        title: 'Cancelled!',
                        text: 'Data Confirmed Successfully',
                        type: 'success',
                    }).then((result) => {
                        window.location.href = "/EMCS/CiplList";
                    });
                },
                error: function (resp) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Data Error. Please Try Again !',
                        type: 'error',
                    })
                }
            })
        }

        function submitProblem(statusName) {
            var status = false;
            var data = $("#myModalProblemContent form").serializeArray();
            data.push({ name: "Status", value: statusName });
            console.log(data);
            debugger;
            $.ajax({
                url: myApp.fullPath + "EMCS/SaveProblemHistory",
                type: "Post",
                async: false,
                data: data,
                success: function (resp) {
                    var result = resp.result;
                    status = true;
                    CancelProblem(result.Status, result.IdRequest, result.Comment);
                },
                error: function (resp) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Data Error. Please Try Again !',
                        type: 'error',
                    })
                }
            })
            return status;
        }

        $("#YesCancelBtn").on("click", function () {
            var status = $("#myModalProblemContent form").valid();
            var StatusName = "Request Cancel";
            if (status) {
                submitProblem(StatusName);
            }
        })
    </script>
}
