@model  App.Web.Models.EMCS.ContainerModel
@{
    ViewBag.crudMode = "I";
    var mode = ViewBag.crudMode;
    var title = mode == "I" ? "Add" : (mode == "U" ? "Update" : "Delete");
    var statusList = new List<string>();
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa @((mode == "I") ? "fa-plus-circle" : "fa-edit")"></i>&nbsp;@title Item</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body" id="checkcn">
        <div class="row">
            <div class="form-group" style="margin-bottom:40px !important;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3">Container Number</label>
                        <div class="input-group col-md-9">
                            @Html.TextBoxFor(m => m.Container.Number, new { @class = "form-control required", @id = "ContainerNumber", placeholder = "Container Number", @maxlength = "12" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Container Type</label>
                        <div class="input-group col-md-9">
                            <select id="ContainerType" name="ContainerType" readonly class="select2" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3">Seal Number</label>
                        <div class="input-group col-md-9" id="disablesealno">  
                            @Html.TextBoxFor(m => m.Container.SealNumber, new { @class = "form-control", @id = "ContainerSealNumber", placeholder = "Seal Number" })
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <label class="col-md-3">Select Item</label>
                        <div class="input-group col-md-9">
                            <div class="col-md-11 row">
                                <select class="select2" id="ItemListData"></select>
                            </div>
                            <button class="btn btn-sm btn-primary pull-left btnAddItem" style="margin-left:5px;padding-top:6px;"><i class="fa fa-plus-circle"></i>&nbsp;Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row toolbarContainer form-horizontal">
                    </div>
                    <table data-toolbar=".toolbarContainer" data-maintain-selected="true" data-unique-id="Id" data-checkbox="true" class="table table-bordered" id="tableAddCargo"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="@Url.Content("~/Content/images/wait.gif")" alt="wait" />
            Wait..
        </span>
        <button type="button" class="btn btn-default" style="width:120px;" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        @if (mode == "I")
        {
            <button type="submit" class="btn btn-success" style="width:120px;"><i class="fa fa-save"></i> Create</button>
        }
        else if (mode == "U")
        {
            <button type="submit" class="btn btn-success" style="width:120px;"><i class="fa fa-save"></i> Update</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger" style="width:120px;"><i class="fa fa-save"></i> Delete</button>
        }
    </div>
    <input type="hidden" id="CargoId" name="CargoId" value="@(ViewBag.CargoID)" />
}
<script>
    $tableContainer = $("#tableAddCargo");
    var mode = '@mode';
    var IdCargo = $("#CargoId").val();
    $('#ContainerSealNumber').val('');
    if (mode != 'I')
        $("#ID").attr('readonly', 'readonly');

    $(document).ready(function () {

        $(".btnAddItem").on("click", function (e) {
            
            e.preventDefault();
            var value = $("#ItemListData").select2('data')[0];
            console.log('alimutasal line 95 :', value);
            if (value) {
            $tableContainer.bootstrapTable('append', {
                "Id": value.Id,
                "Name": value.Name,
                "Quantity": value.Qty,
                "Uom": value.Uom,
                "PartNumber": value.Part,
                "Sn": value.Sn,
                "JCode": value.Jcode,
                "Ccr": value.Ccr,
                "CaseNumber": value.Cn,
                "Type": value.Type,
                "UnitPrice": value.Price,
                "ExtendedValue": value.Extend,
                "Length": value.Length,
                "Width": value.Width,
                "Height": value.Height,
                "NetWeight": value.Net,
                "GrossWeight": value.Gross,
                });
            }
            $("#ItemListData").val(null).trigger("change");
        })
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $("#ItemListData").select2({
            placeholder: 'Search for item',
            maximumInputLength: 20,
            tags: false, //prevent free text entry
            width: "100%",
            ajax: {
                url: "/EMCS/GetCiplItemAvailable",
                type: "get",
                data: function (params) {
                    var query = {
                        searchName: params.term,
                        IdCargo: IdCargo
                    }

                    return query;
                },
                processResults: function (data) {
                    var options = [];
                    $.map(data.data, function (obj) {
                        this.console.log(obj);
                        var key = obj.Key;
                        if (key === "rows") {
                            var values = obj.Value;
                            jQuery.each(values, function (index, val) {
                                var item = {}
                                item.id = val.Id;
                                item.text = val.Name + " - " + val.Sn;
                                item.sn = val.Sn;
                                item.name = val.Name;
                                item.qty = val.Quantity;
                                item.uom = val.Uom;
                                item.part = val.PartNumber;
                                item.jcode = val.JCode;
                                item.ccr = val.Ccr;
                                item.cn = val.CaseNumber;
                                item.type = val.Type;
                                item.price = val.UnitPrice;
                                item.extend = val.ExtendedValue;
                                item.length = val.Length;
                                item.width = val.Width;
                                item.height = val.Height;
                                item.net = val.NetWeight;
                                item.gross = val.GrossWeight;

                                options.push(item);
                            })
                        }
                    });
                    console.log(options);
                    return {
                        results: options
                    };
                }
            }
        });

        $("#ContainerType").select2({
            //minimumInputLength: 3,
            placeholder: 'Search for Container Type',
            maximumInputLength: 20,
            tags: false, //prevent free text entry
            width: "100%",
            ajax: {
                url: "/EMCS/GetParamItems",
                type: "get",
                data: function (params) {
                    var query = {
                        searchCode: "ContainerType",
                        searchName: params.term
                    }

                    return query;
                },
                processResults: function (data) {
                    var options = [];
                    $.map(data.data, function (obj) {
                        var item = {};
                        item.id = obj.Id;
                        item.text = obj.Text;
                        options.push(item);
                    });
                    console.log(options);
                    return {
                        results: options
                    };
                }
            }
        });

        $.validator.unobtrusive.parse("form");

        window.operateEvents = {
            'click .removeItemContainer': function (e, value, row, index) {
                console.log(row, value, index);
                $tableContainer.bootstrapTable('removeByUniqueId', value);
            }
        };

        var columns = [[
            {
                field: "",
                title: "No",
                rowspan:2,
                align: "center",
                formatter: runningFormatterNoPaging
            }, {
                field: "State",
                title: "State",
                checkbox:true,
                rowspan: 2,
                class: "text-nowrap text-center"
            }, {
                field: "Id",
                title: "Action",
                rowspan: 2,
                class: "text-nowrap",
                halign: "center",
                visible: false,
                align: "center",
                events: operateEvents,
                sortable: true,
                formatter: function (data, row, index) {
                    var elm = [];
                    var div1 = "<div class='text-align:'center'>";
                    var div2 = "</div>";
                    var btn1 = "<button class='btn btn-xs btn-danger removeItemContainer' type='button'><i class='fa fa-remove'></i></button>";
                    var htm = [div1, btn1, div2].join(" ");
                    return htm;
                }
            }, {
                field: "Name",
                title: "Name",
                rowspan: 2,
                class: "text-nowrap",
                halign: "center",
                sortable: true
            }, {
                field: "Quantity",
                title: "Quantity",
                rowspan: 2,
                class: "text-nowrap",
                halign: "center",
                align:"right",
                sortable: true
            }, {
                field: "Uom",
                title: "UOM",
                rowspan: 2,
                halign: "center",
                class: "text-nowrap",
                sortable: true
            }, {
                field: "PartNumber",
                title: "Part Number",
                rowspan: 2,
                halign: "center",
                class: "text-nowrap",
                sortable: true
            }, {
                field: "Sn",
                title: "SN",
                halign: "center",
                rowspan: 2,
                class: "text-nowrap",
                sortable: true
            }, {
                field: "JCode",
                title: "J-Code",
                align: "center",
                rowspan: 2,
                class: "text-nowrap",
                halign: "center",
                sortable: true
            }, {
                field: "Ccr",
                title: "CCR",
                halign: "center",
                rowspan: 2,
                class: "text-nowrap",
                align: "center",
                sortable: true
            }, {
                field: "CaseNumber",
                title: "Case Number",
                class: "text-nowrap",
                rowspan: 2,
                align: "center",
                halign: "center",
                sortable: true
            }, {
                field: "Type",
                halign: "center",
                title: "Type",
                rowspan: 2,
                class: "text-nowrap",
                align: "center",
                sortable: true
            }, {
                field: "ExtendedValue",
                title: "Extended Value",
                halign: "center",
                rowspan: 2,
                sortable: true,
                align: "right",
                filterControl: true,
                class: "text-nowrap"
            }, {
                field: "",
                title: "Dimension (In CM)",
                halign: "center",
                sortable: true,
                colspan:3,
                filterControl: true,
                class: "text-nowrap"
               }, {
                field: "",
                title: "Volume",
                halign: "center",
                sortable: true,
                filterControl: true,
                class: "text-nowrap"
                }, {
                field: "",
                title: "Net Weight",
                halign: "center",
                sortable: true,
                filterControl: true,
                class: "text-nowrap"
                }, {
                field: "",
                title: "Gross Weight",
                halign: "center",
                sortable: true,
                filterControl: true,
                class: "text-nowrap"
                }
            ], [
                {
                    field: "Length",
                    title: "Length",
                    align: "right",
                    halign: "center",
                    sortable: true,
                    filterControl: true,
                    class: "text-nowrap"
                }, {
                    field: "Width",
                    title: "Width",
                    halign: "center",
                    align:"right",
                    sortable: true,
                    filterControl: true,
                    class: "text-nowrap"
                }, {
                    field: "Height",
                    title: "Height",
                    halign: "center",
                    sortable: true,
                    align: "right",
                    filterControl: true,
                    class: "text-nowrap"
                }, {
                    field: "NetWeight",
                    title: "M3",
                    halign: "center",
                    align: "right",
                    sortable: true,
                    filterControl: true,
                    class: "text-nowrap"
                }, {
                    field: "NetWeight",
                    title: "in KGs",
                    halign: "center",
                    sortable: true,
                    align: "right",
                    filterControl: true,
                    class: "text-nowrap"
                }, {
                    field: "GrossWeight",
                    title: "in KGs",
                    halign: "center",
                    align: "right",
                    sortable: true,
                    filterControl: true,
                    class: "text-nowrap"
                }
            ]
        ]

        $tableContainer.bootstrapTable({
            url:"/EMCS/GetCiplItemAvailable",
            columns: columns,
            checkboxHeader:true,
            queryParams: function (params) {
                params.IdCargo = IdCargo;
                return params;
            },
            cache: false,
            UniqueId:"Id",
            pagination: true,
            search: true,
            //maintainMetaData: true,
            striped: false,
            clickToSelect: true,
            reorderableColumns: true,
            toolbarAlign: 'left',
            onClickRow: selectRow,
            sidePagination: 'client',
            showColumns: true,
            responseHandler: function (resp) {
                var data = {};
                $.map(resp, function (value, key) {
                    data[value.Key] = value.Value;
                });
                return data;
                //return res.messages
            },
            showRefresh: true,
            smartDisplay: false,
            pageSize: '5',
            responseHandler: function (resp) {
                var data = {};
                $.map(resp.data, function (value, key) {
                    data[value.Key] = value.Value;
                });
                return data.rows;
            },
            formatNoMatches: function () {
                return '<span class="noMatches">No item found</span>';
            }
        });
    });

    $('#ContainerNumber').on('click', function (e) {

        var obj = "";
        let IdCargo = $('#CargoID').val();
        let ContainerNumber = $('#ContainerNumber').val();


        $.ajax({
            url: "/emcs/CheckCNNo",
            type: 'POST',
            data: {
                IdCargo,
                ContainerNumber,

            },
            cache: false,
            async: false,
            success: function (data, response) {
                if (data.length == 0) {
                    $("#ContainerSealNumber").val(null);
                    $('#select2-ContainerType-container')[0].innerText = null;
                }
                else {
                    $("#CargoID").val(data[0].IdCargo),
                        $("#CargoId").val(data[0].IdCargo),

                        $("#ContainerNumber").val(data[0].ContainerNumber),
                        //$("#ContainerType").val(data[0].ContainerType),
                        // $('#ContainerType').append('<option selected value="20' Fuel Tank Container">' + data[0].ContainerType + '</option>'),
                        //$('#ContainerType option:contains(' + data[0].ContainerType + ')').attr('selected', 'selected');
                        $("#ContainerSealNumber").val(data[0].ContainerSealNumber)
                    if (($('#ContainerSealNumber').val()) != null) {
                        $('#disablesealno').prop('disabled', true)
                    }
                    $('#ContainerType option:eq(' + data[0].ContainerType + ')').attr('selected', 'selected');
                    $('#select2-ContainerType-container')[0].innerText = data[0].ContainerType;
                    if (($('#select2-ContainerType-container')[0].innerText) == null) {
                        $('#disablesealno').prop('disabled', true)
                    }
                }


            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong! Fail Get Data ContainerNumber',
                })
            }

        });
    });
    $('#ContainerNumber').keyup( function (e) {

        var obj = "";
        let IdCargo = $('#CargoID').val();
        let ContainerNumber = $('#ContainerNumber').val();


        $.ajax({
            url: "/emcs/CheckCNNo",
            type: 'POST',
            data: {
                IdCargo,
                ContainerNumber,

            },
            cache: false,
            async: false,
            success: function (data, response) {
                if(data.length == 0)
                {
                    $("#ContainerSealNumber").val(null);
                    $('#select2-ContainerType-container')[0].innerText = null;
                }
                else
                {
                    $("#CargoID").val(data[0].IdCargo),
                    $("#CargoId").val(data[0].IdCargo),

                    $("#ContainerNumber").val(data[0].ContainerNumber),
                    //$("#ContainerType").val(data[0].ContainerType),
                    // $('#ContainerType').append('<option selected value="20' Fuel Tank Container">' + data[0].ContainerType + '</option>'),
                    //$('#ContainerType option:contains(' + data[0].ContainerType + ')').attr('selected', 'selected');
                    $("#ContainerSealNumber").val(data[0].ContainerSealNumber)
                    
                    if(($('#ContainerSealNumber').val()) != null) {
                    $('#disablesealno').prop('disabled', true)
        }
        $('#ContainerType option:eq(' + data[0].ContainerType + ')').attr('selected', 'selected');
        $('#select2-ContainerType-container')[0].innerText = data[0].ContainerType;
        if (($('#select2-ContainerType-container')[0].innerText) == null) {
            $('#disablesealno').prop('disabled', true)
        }
            }
               
                
            },
            error: function (e) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong! Fail Get Data ContainerNumber',
                })
            }

        });
    });
</script>
@section scripts
{
    @Scripts.Render("~/Scripts.app/EMCS/transaction/Cargo.cshtml.js")
    @Scripts.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.js")
    @Scripts.Render("~/Scripts.app/EMCS/function.cshtml.js")
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoForm.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/CargoDocuments.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
}