@model  App.Web.Models.EMCS.RunningTextModel
@{
    var mode = ViewBag.crudMode;
    var title = mode == "I" ? "Add" : (mode == "U" ? "Update" : "Delete");
    var statusList = new List<string>();
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa @((mode == "I") ? "fa-plus-circle" : "fa-edit")"></i>&nbsp;@title Running Text</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Title</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.TextAreaFor(m => m.Running.Content, new { @class = "form-control required", placeholder = "Content" })
                        <div>@Html.ValidationMessageFor(m => m.Running.Content)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Start Date</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.EditorFor(m => m.Running.StartDate, new { htmlAttributes = new { @class = "form-control required date", autocomplete = "off", placeholder = "Start Date" } })
                        <div>@Html.ValidationMessageFor(m => m.Running.StartDate)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">End Date</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.EditorFor(m => m.Running.EndDate, new { htmlAttributes = new { @class = "form-control required date", autocomplete = "off", placeholder = "End Date" } })
                        <div>@Html.ValidationMessageFor(m => m.Running.EndDate)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Is Active</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.DropDownListFor(m => m.Running.IsDelete, new SelectList(Model.StatusList, "Value", "Text"), new { @class = "js-states form-control" })
                        <div>@Html.ValidationMessageFor(m => m.Running.IsDelete)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="@Url.Content("~/Content/images/wait.gif")" alt="wait" />
            Wait..
        </span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        @if (mode == "I")
        {
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        }
        else if (mode == "U")
        {
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Delete</button>
        }

    </div>

    @Html.HiddenFor(a => a.Running.Id)
    @*@Html.HiddenFor(a => a.Menu.EntryBy)
        @Html.HiddenFor(a => a.Menu.ModifiedBy)
        @Html.HiddenFor(a => a.Menu.EntryDate)
        @Html.HiddenFor(a => a.Menu.ModifiedDate)*@
    @*@Html.HiddenFor(a => a.Menu.IsActive)
        @Html.HiddenFor(a => a.Menu.IsDefault)*@
}

<script>
    var mode = '@mode';
    if (mode != 'I')
        $("#ID").attr('readonly', 'readonly');

    $(document).ready(function () {
        $(".date").datepicker({
            autoclose: true,
            format: "dd M yyyy"
        });
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
    });
</script>



