@model App.Data.Domain.EMCS.Vendor
@{
    var mode = ViewBag.crudMode;
    var title = mode == "I" ? "Add" : (mode == "U" ? "Update" : "Delete");
    var statusList = new List<string>();
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa @((mode == "I") ? "fa-plus-circle" : "fa-edit")"></i>&nbsp;@title Vendor </h4>
</div>
@using (Html.BeginForm())
{
    if (mode == "V")
    {

        @Html.AntiForgeryToken()

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-xs-12">Name</label>
                        <div class="input-group col-md-9 col-xs-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control required", placeholder = "Name", @readonly = "readonly" })
                            <div>@Html.ValidationMessageFor(m => m.Name)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-xs-12">Address</label>
                        <div class="input-group col-md-9 col-xs-12">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control required", placeholder = "Address", @readonly = "readonly" })
                            <div>@Html.ValidationMessageFor(m => m.Address)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-xs-12">Name</label>
                        <div class="input-group col-md-9 col-xs-12">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control required", placeholder = "City", @readonly = "readonly" })
                            <div>@Html.ValidationMessageFor(m => m.City)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-xs-12">Telephone</label>
                        <div class="input-group col-md-9 col-xs-12">
                            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control required", placeholder = "Telephone", @readonly = "readonly" })
                            <div>@Html.ValidationMessageFor(m => m.Telephone)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">
                <img src="@Url.Content("~/Content/images/wait.gif")" alt="wait" />
                Wait..
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            @if (mode == "I")
            {
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
            }
            else if (mode == "U")
            {
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
            }
            else if (mode == "D")
            {
                <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Delete</button>
            }
        </div>
        @Html.HiddenFor(a => a.Id, new { @Id = "Id" })
    }

else
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Name</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control required", placeholder = "Name" })
                        <div>@Html.ValidationMessageFor(m => m.Name)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Address</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control required", placeholder = "Address" })
                        <div>@Html.ValidationMessageFor(m => m.Address)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Name</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control required", placeholder = "City" })
                        <div>@Html.ValidationMessageFor(m => m.City)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12">Telephone</label>
                    <div class="input-group col-md-9 col-xs-12">
                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control required", placeholder = "Telephone" })
                        <div>@Html.ValidationMessageFor(m => m.Telephone)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="@Url.Content("~/Content/images/wait.gif")" alt="wait" />
            Wait..
        </span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        @if (mode == "I")
        {
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        }
        else if (mode == "U")
        {
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
        }
        else if (mode == "D")
        {
            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Delete</button>
        }
    </div>
    @Html.HiddenFor(a => a.Id, new { @Id = "Id" })
}

}

<script>

    var mode = '@mode';
    if (mode != 'I')
        $("#ID").attr('readonly', 'readonly');

    $(document).ready(function () {
        $(".date").datepicker({
            autoclose: true,
            format: "dd M yyyy"
        });
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
    });
</script>



