@model dynamic
@{
    ViewBag.Title = "My Task";
}
@*@Styles.Render("~/Content/EMCS/FontAwesome/css/all.css")*@
@Styles.Render("~/Content/EMCS/Custom.css")
@Styles.Render("~/Content/EMCS/dropzone.css")
@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")
<input type="hidden" id="IsEditAllowed" value="@ViewBag.IsEditAllowed" />
@*<div class="row">*@
<div class="col-md-12">
    <div class="tab" role="tabpanel" style="margin-top: 15px;box-shadow:none !important;background:none;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab-task-cipl" style="z-index:9;" aria-controls="home" role="tab" data-toggle="tab"><span class="badge">@(Model.Cipl != 0 ? Model.Cipl : "")</span>&nbsp;CIPL</a>
            </li>
            <li role="presentation">
                <a href="#tab-task-gr" style="z-index:8;" aria-controls="gr" role="tab" data-toggle="tab"><span class="badge">@(Model.Gr != 0 ? Model.Gr : "")</span>&nbsp;Receipt Goods</a>
            </li>
            <li role="presentation">
                <a href="#tab-task-cargo" style="z-index:7;" aria-controls="profile" role="tab" data-toggle="tab"> <span class="badge">@(Model.Cl != 0 ? Model.Cl : "")</span>&nbsp;Cargo</a>
            </li>
            <li role="presentation">
                <a href="#tab-task-si" style="z-index:6;" aria-controls="messages" role="tab" data-toggle="tab"> <span class="badge">@(Model.Si != 0 ? Model.Si : "")</span>&nbsp;Shipping Instruction</a>
            </li>
            <li role="presentation">
                <a href="#tab-task-npe_peb" style="z-index:5;" aria-controls="messages" role="tab" data-toggle="tab"> <span class="badge">@(Model.Npe != 0 ? Model.Npe : "")</span>&nbsp;PEB & NPE</a>
            </li>
            <li role="presentation">
                <a href="#tab-task-bl_awb" style="z-index:4;" aria-controls="messages" role="tab" data-toggle="tab"> <span class="badge">@(Model.Bl != 0 ? Model.Bl : "")</span>&nbsp;BL / AWB</a>
            </li>
            <li role="presentation">
                <a href="#tab-task-delegation" style="z-index:4;" aria-controls="messages" role="tab" data-toggle="tab"> <span class="badge"></span>&nbsp;Delegation</a>
            </li>
            @if (ViewBag.IsImexUser)
            {
                <li role="presentation">
                    <a href="#tab-task-requestForChange" style="z-index:3;" aria-controls="test" role="tab" data-toggle="tab"> <span class="badge"> @(Model.RFC != 0 ? Model.RFC : "")</span>&nbsp;Request for change</a>
                </li>
            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs-custom">
            <div role="tabpanel" class="tab-pane active" id="tab-task-cipl">
                @Html.Partial("~/Views/EMCS/TaskCipl.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-task-gr">
                @Html.Partial("~/Views/EMCS/TaskGr.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-task-cargo">
                @Html.Partial("~/Views/EMCS/TaskCl.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-task-si">
                @Html.Partial("~/Views/EMCS/TaskSi.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-task-npe_peb">
                @Html.Partial("~/Views/EMCS/TaskNpePeb.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-task-bl_awb">
                @Html.Partial("~/Views/EMCS/TaskBlAwb.cshtml")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-task-delegation">
                @Html.Partial("~/Views/EMCS/TaskDelegation.cshtml")
            </div>
            @if (ViewBag.IsImexUser)
            {
                <div role="tabpanel" class="tab-pane" id="tab-task-requestForChange">
                    @Html.Partial("~/Views/EMCS/TaskRequestForChange.cshtml")
                </div>
            }
        </div>
    </div>
</div>
@*</div>*@

@Html.Partial("MytaskModal")

@section scripts
{
    <script src="@Url.Content("~/Content/EMCS/DropZone/dropzone.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Mytask.cshtml.js")"></script>
    <script src="@Url.Content("~/Content/EMCS/SweetAlert/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskCipl.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskGr.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskCl.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskSi.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskNpePeb.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskBlAwb.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskDelegation.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/mytask/TaskRequestForChangeHistory.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>

    }
