@model App.Web.Models.PartsMappingView
@{
    ViewBag.Title = "Parts Mapping";
    string message = ViewBag.Message + "";
}

@using System.Web.Mvc
<script src="~/Scripts/jquery.table2excel.js"></script>
@*<script src="~/Scripts/app/myJs.js"></script>*@
@{
    if (ViewBag.AllowDelete)
    {
        <input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
    }

    if (ViewBag.AllowUpdate)
    {
        <input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            @*<div class="box-header"><h3 class="box-title">@ViewBag.Title</h3></div>*@
            <form role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Parts Description</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <input id="PartsName" type="text" class="form-control" placeholder="enter description or number" />
                                        @*@Html.DropDownListFor(m => m.selPartsList_Names, new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @multiple = "multiple", @class = "js-states form-control", @style = "width:95%;display:none" })*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">HS Description</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <input id="HSDescription" type="text" class="form-control" placeholder="enter description or number" />
                                        @*@Html.ListBoxFor(m => m.selHSCodeLists_Names, new SelectList(Enumerable.Empty<SelectListItem>()), new { id = "selHSCodeLists_Names", @class = " input-sm form-control", @style = "width:95%;display:none" })*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">OM</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        @Html.ListBoxFor(model => model.selOrderMethods, Model.OrderMethodsList, new { id = "selOrderMethods", @class = " input-sm form-control", @style = "width:95%;display:none" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Manufacturing Code</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <input id="ManufacturingCode" type="text" class="form-control" placeholder="enter Manufacturing Code" />
                                        @*@Html.ListBoxFor(m => m.selHSCodeLists_Names, new SelectList(Enumerable.Empty<SelectListItem>()), new { id = "selHSCodeLists_Names", @class = " input-sm form-control", @style = "width:95%;display:none" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Part Number</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        @Html.DropDownListFor(m => m.selPartsList_Ids, new SelectList(Enumerable.Empty<SelectListItem>()), "", new { @multiple = "multiple", @class = "js-states form-control", @style = "width:95%;display:none" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">HS Code</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        @Html.ListBoxFor(m => m.selHSCodeList_Ids, new SelectList(Enumerable.Empty<SelectListItem>()), new { id = "selHSCodeList_Ids", @class = " input-sm form-control", @style = "width:95%;display:none" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <label class="control-label col-lg-4 col-xs-4">Machine</label>
                                        <div class="input-group col-lg-8 col-xs-8">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Status</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <select class="js-states form-control" id="Status" style="width:95%;display:none">
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-xs-4">Display Unmapping Parts</label>
                                    <div class="input-group col-lg-8 col-xs-8">
                                        <input type="checkbox" id="isNullHS" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6">
                                <div class="pull-right col-xs-8" style="text-align:right;padding-right:0;">
                                    <button id="btnFilter" type="button" class="btn btn-success" style="width:125px;"><i class="fa fa-search"></i> Filter</button>
                                    <button type="button" id="btn-clear" class="btn btn-danger" style="width:125px;"><i class="fa fa-times-circle"></i> Clear</button>
                                </div>
                                @*<div class="form-group">
                                        <div class="input-group col-lg-offset-4 col-xs-8">
                                            <button id="btnFilter" type="button" class="btn btn-success" style="float:right;width:150px;"><i class="fa fa-search"></i> Filter</button>
                                        </div>
                                    </div>*@
                            </div>
                            @*<button id="btnFilter" type="button" class="btn btn-success" style="float:right; margin-right:15px"><i class="fa fa-search"></i> Filter</button>*@
                        </div>

                        <div class="col-lg-12">
                            <hr>
                            <div class="toolbar">
                                @{
                                    if (ViewBag.AllowCreate)
                                    {
                                        <button type="button" class="btn btn-warning" style="width:150px;" onclick="loadModal('/imex/PartsMappingAdd')">
                                            <i class="fa fa-plus"></i> New
                                        </button>
                                        <a href="" class="btn btn-info" onclick="document.getElementById('filexls').click(); return false" style="width:150px;">
                                            <i class="fa fa-upload"></i> Import/Upload
                                        </a>
                                        <a href="#" class="btn btn-info downloadExcel" style="width:150px;">
                                            <i class="fa fa-download"></i> Download to Excel
                                        </a>
                                        <a href="/temp/template-partMapping.xlsx" style="width:150px;" class="btn btn-info">
                                            <i class="fa fa-download"></i> Download Template
                                        </a>
                                    }
                                }
                            </div>

                            <table class="table-bordered table2excel" id="tableMapping" style="width:100%"></table>

                            <div id="divResult" class="table2excel2" style="display:none;">
                                <hr />
                                <a href="#" class="btn btn-default downloadExcel2"><i class="fa fa-download"></i> Download to Excel</a>
                                <div id="uploadResult" class="table2excel2" style="overflow:auto;width:50%; max-height:333px; overflow:auto;">></div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <form id="submitExcel" method="post" action="PartsMappingUploadExcel" enctype="multipart/form-data">
                <input type="file" id="filexls" name="upload" style="visibility: hidden;" onchange="$('#submitExcel').submit();" />
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var msg = '@message';
        if (msg != '') {
            sAlert('', msg, '');
        }

    </script>
    <script src="@Url.Content("~/Scripts.app/imex/parts-mapping.cshtml.js")"></script>
}
